<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Inicio</title>
	
</head>
<body>


	<nav>
		<div >
			<div >
				
				<a th:href="@{/}">Registro y
					inicio de sesión</a>
				<a th:href="@{/universidades}">Universidades</a>
				<a th:href="@{/carreras/areas}">Areas</a>
			</div>
			<div>
				<ul>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
							sesión</a></li>
				</ul>
			</div>
			
		</div>
	</nav>

	<br>
	<br>

	<div >
		<h1>Integradora</h1>
		<br>
		<h4>
			Bienvenido <span sec:authentication="principal.username"></span>
		</h4>

	</div>
	<a href="#" th:href="@{/test}">Test vocacional</a>
	<a href="#" th:if="${roles.contains(2L)}" th:href="@{/administrador}">Administrador</a>

</body>
</html>














