<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    th:classappend="${usuario.darkmode} ? 'dark' : ''">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/global_font.css">
    <link href="/css/tailwind.css" rel="stylesheet">
    <script src="/js/navbar.js"></script>
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>

    <title>PathFinder</title>
</head>

<body th:data-lang="${usuario.lang}">

    <div id="translations" 
     th:attr="data-carrera=#{carreraTag},
              data-area=#{areaTag},
              data-universidad=#{universidadTag}" 
     style="display: none;">
</div>

    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/}">
                    <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>
                <a th:href="@{/logout}" style="display: yes;">
                    <div class="link"><img src="/css/assets/navbaricons/exit1.png" alt="" class="link-icon"
                            th:text="#{cerrarSesion}"></div>
                </a>
                <a th:href="@{/administrador}" style="display: yes;">
                    <div class="link"><img src="/css/assets/navbaricons/herramienta.png" alt="" class="link-icon"
                            th:text="#{administrador}"></div>
                </a>
                <a th:href="@{/presentacionTest}" style="display: yes;">
                    <div class="link"><img src="/css/assets/navbaricons/test.png" alt="" class="link-icon"
                            th:text="#{testVocacional}"></div>
                </a>
            </div>

            <div class="navbar-links" id="navbarLinks">
                <!-- Motor de busqueda-->
                <div class="form-input">
                    <div id="searchForm">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                        <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                        </div>
                    </div>
                </div>

                <hr>
                <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                            class="link-icon" th:text="#{perfil}"></div>
                </a>
            </div>

        </nav>
    </header>

    <div class="principal-text">
        <h1 th:text="#{saludo(${usuario.nombre})}"></h1>
    </div>

    <div class="main-content dark:bg-gray-800">
        <div class="principal-content">
            <div class="tarjetas">
                <div class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                    <div class="texto-boton">
                        <h2 th:text="#{universidades}" class="dark:text-white"></h2>
                        <p th:text="#{textoUniversidades}" class="dark:text-white"></p>
                        <a th:href="@{/universidades?lang=}+${usuario.lang}"
                            class="dark:shadow-none dark:hover:shadow-none" th:text="#{explorar}">
                        </a>
                    </div>

                    <div class="imagen-tarjeta">
                        <img src="/css/assets/universidad-icon.png" alt="">
                    </div>

                </div>

                <div class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                    <div class="texto-boton">
                        <h2 class="dark:text-white" th:text="#{areasEstudio}"></h2>
                        <p class="dark:text-white" th:text="#{textoAreas}"></p>
                        <a th:href="@{/carreras/areas?lang=}+${usuario.lang}"
                            class="dark:shadow-none dark:hover:shadow-none" th:text="#{descubrir}">
                        </a>
                    </div>

                    <div class="imagen-tarjeta">
                        <img src="/css/assets/areas-icon.png" alt="">
                    </div>

                </div>

                <div class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                    <div class="texto-boton">
                        <h2 class="dark:text-white" th:text="#{carreras}"></h2>
                        <p class="dark:text-white" th:text="#{textoCarreras}"></p>
                        <a th:href="@{/carreras/all?lang=}+${usuario.lang}"
                            class="dark:shadow-none dark:hover:shadow-none" th:text="#{mostrarTodas}">
                        </a>
                    </div>

                    <div class="imagen-tarjeta">
                        <img src="/css/assets/carrera-icon.png" alt="">
                    </div>

                </div>
            </div>


            <div class="populares dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                <h2 class="dark:text-white" th:utext="#{carrerasPopu}">
                </h2>
                <ul>
                    <li th:each="carrera : ${carreras}">
                        <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera}, lang=${usuario.lang})}">
                            <span th:text="${carrera.nombre}" class="dark:text-white"></span>
                            <span id="popular-tag" class="text-gradient" th:text="#{popularTag}"></span>
                        </a>
                    </li>
                </ul>

                <img src="/css/assets/fuego.png" alt="">
            </div>
        </div>

        <div class="favoritos dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
            <div class="titulo-favoritos">
                <h2 th:utext="#{favoritos}"></h2>
            </div>
            <div th:if="${carrerasFavoritas == null or #lists.isEmpty(carrerasFavoritas)}" class="text-white">
                Aun no tienes carreras favoritas, mensaje tipo, ve y busca mas jasjsjs
            </div>
            <ul class="favoritos-grid dark:bg-gray-800 dark:border-gray-700">
                <li th:each="carreraFav : ${carrerasFavoritas}" class="dark:bg-gray-800 dark:border-gray-700 dark:shadow-none dark:hover:shadow-none"> <!-- Aqui iría la variable que guarda los favoritos del usuario-->
                    <a th:href="@{/carreras/carrera/{id}(id=${carreraFav.id_carrera}, lang=${usuario.lang})}">
                        <span th:text="${carreraFav.nombre}" class="titulo-favorito dark:text-white"></span>
                        <span id="favorito" class="text-gradient" th:utext="#{favoritoTag}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/motorBusqueda.js"></script>
    <center>
        <footer class="footer">
            <div class="footer-logo">
                <img src="/css/LogoLogoPathFinderVertical.svg" alt="">
            </div>
            <div class="footer-section">
                <h3 th:text="#{servicio}"></h3>
                <a href="#" th:text="#{nuestroTrabajo}"></a>
                <a href="#" th:text="#{centroAyuda}"></a>
                <a href="#" th:text="#{faqs}"></a>
            </div>
            <div class="footer-section">
                <h3 th:text="#{contacto}"></h3>
                <p>contacto@pathfinder.com</p>
                <p th:text="#{sobreNosotros}"></p>
                <p>614 785 6594</p>
            </div>
            <div class="footer-section">
                <h3 th:text="#{direccion}"></h3>
                <p>Av. Montes Americanos #9501, Col.</p>
                <p>Sector 35, C.P. 31216, Chihuahua,</p>
                <p>Chih., México.</p>
            </div>
            <div class="footer-bottom">
                <div class="footer-links">
                    <a>&copy; 2024 PathFinder</a>
                    <a href="#" th:text="#{terminos}"></a>
                    <a href="#" th:text="#{politica}"></a>
                </div>
                <div class="social-icons">

                    <a href="#" title="Facebook"><img src="/css/assets/facebook.svg" alt=""></a>
                    <a href="#" title="X"><img src="/css/assets/x.svg" alt=""></a>
                    <a href="#" title="Instagram"><img src="/css/assets/instagram.svg" alt=""></a>
                    <a href="#" title="LinkedIn"><img src="/css/assets/linkedin.svg" alt=""></a>
                </div>
            </div>
        </footer>
    </center>
</body>

</html>