<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/global_font.css">
    <link href="/css/tailwind.css" rel="stylesheet">
    <script src="/js/navbar.js"></script>
	<link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/website/css/uicons-bold-rounded.css">
    <title>PathFinder</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/}">
                    <img src="css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>
                <a th:href="@{/logout}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/exit1.png" alt="" class="link-icon" th:text="#{cerrarSesion}"></div></a>
            </div>
    
            <div class="navbar-links" id="navbarLinks">

				<div class="form-input ">
                    <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                    <input type="text" id="search-bar" placeholder="¿Buscas algo en específico?">
                </div>

                <hr>
                <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/profile-picture.jpg" alt="" id="profile-icon" class="link-icon" th:text="#{perfil}"></div></a>
            </div>

        </nav>
    </header>

    <div class="principal-text">
        <h1 th:text="'¡' + #{saludo} + ', ' + ${usuario.nombre} + '!'"></h1>
    </div>

	<div class="main-content dark:bg-gray-800">
    <div class="principal-content">
        <div class="tarjetas">
            <div class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
				<div class="texto-boton">
				<h2 th:text="#{universidadess}" class="dark:text-white">Universidades</h2>
                <p th:text="#{textoUniversidadess}" class="dark:text-white">Conoce todas las universidades.</p>
                <a th:href="@{/universidades?lang=}+${usuario.lang}">
                    Explorar
                </a>
				</div>

				<div class="imagen-tarjeta">
					<img src="/css/assets/universidad-icon.png" alt="">
				</div>
                    
            </div>

            <div class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
				<div class="texto-boton">
					<h2 class="dark:text-white">Areas de Estudio</h2>
                <p class="dark:text-white">Conoce todas las areas en las que puedes estudiar</p>
                <a th:href="@{/carreras/areas?lang=}+${usuario.lang}">
                    Descubrir
                </a>
				</div>

				<div class="imagen-tarjeta">
					<img src="/css/assets/areas-icon.png" alt="">
				</div>
                    
            </div>

            <div class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
				<div class="texto-boton">
					<h2 class="dark:text-white" th:text="#{carrerass}">Carreras</h2>
                <p class="dark:text-white" th:text="#{textoCarreras}">Conoce todas las carreras en las que puedes estudiar</p>
                <a th:href="@{/carreras/all?lang=}+${usuario.lang}">
                    Mostrar todas
                </a>
				</div>

				<div class="imagen-tarjeta">
					<img src="/css/assets/carrera-icon.png" alt="">
				</div>
                    
            </div>
        </div>

		
        <div class="populares dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                <h2 class="dark:text-white">
                    Carreras populares en <span class="text-gradient">PathFinder</span>
                </h2>
                <ul>
                    <li th:each="carrera : ${carreras}">
                        <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera}, lang=${usuario.lang})}">
                            <span th:text="${carrera.nombre}" class="dark:text-white"></span>
                            <span id="popular-tag" class="text-gradient dark:text-white">Popular</span>
                        </a>
                    </li>
                </ul>

				<img src="/css/assets/fuego.png" alt="">
        </div> 
    </div>
</div>
</div>

<script>
    const formInput = document.querySelector('.form-input');
    const searchBar = document.getElementById('search-bar');
    
    searchBar.addEventListener('keydown', function() {
        formInput.classList.add('shrink');
    });

    searchBar.addEventListener('keyup', function() {
        formInput.classList.remove('shrink');
    });
</script>
</body>
</html>