<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/website/css/uicons-bold-rounded.css">

</head>

<body class="malla">
    <center>
        <header>
            <nav>
                <div class="return-home">
                    <img src="css/flecha-pequena-izquierda.svg" alt="">
                    <a th:href="@{/inicio}" id="return-home-text">Regresar al inicio</a>
                </div>
            </nav>
        </header>


        <div class="tarjeta" id="sign-in"> <!--TARJETA DE INICIO DE SESION-->

            <div id="logo-image"> <!--PARTE IZQUIERDA DE LA TARJETA DE INICIO DE SESION-->

                <img id="logo-horizontal-image" src="css/LogoLogoPathFinderHorizontal.svg" alt=""
                    style="max-width:40%;height:auto;">

                <img id="image-login" src="css/decision-77.svg" alt="" style="max-width:75%;height:auto;">

            </div>

            <div id="sign-in-form"> <!--PARTE DERECHA DE LA TARJETA DE INICIO DE SESION-->

                <div>
                    <p id="welcome-title">¡Bienvenido!</p>
                </div>

                <div>
                    <p id="sign-in-title">Iniciar sesión</p>
                </div>

                <div th:if="${param.error}">
                    <p id="error">ERROR: Ingresa tus datos nuevamente</p>
                </div>
                <div th:if="${mensajeExito}">
                    <p th:text="${mensajeExito}"></p>
                </div>

                <hr>

                <form th:action="@{/login}" method="post"> <!--FORMULARIO-->

                    <div class="input-group"> <!--INPUTS-->

                        <div class="input-group"> <!--INPUTS-->

                            <input id="username" required="" type="email" name="username" autocomplete="off" class="input"
                                placeholder="Ingresa tu correo electrónico" />
                            <label for="email" class="email-label">
                                <i id="login-input-icon" class="fi-rr-envelope"></i>
                            </label>
    
                        </div>

                    </div>

                    <hr>

                    <div class="input-group">
                        <input id="password" name="password" required="" type="password" autocomplete="on" class="input"
                            placeholder="Ingresa tu contraseña">

                        <div for="name">
                            <i id="login-input-icon" class="fi-rr-lock"></i>
                        </div>


                    </div>

                    <hr>

                    <button class="btn btn-primary"> <!--BOTON DE INICIO DE SESION-->
                        <span class="btn-txt">Iniciar sesión</span>
                    </button>

                </form>

                <hr>

                <div class="create-account-message-login"> <!--MENSAJE DEBAJO DEL BOTON DE INICIO DE SESION-->
                    <p id="create-account-message-login">¿No tienes una cuenta?
                        <a th:href="@{/registro}" id="create-account-message-login">¡Crea una!<a />
                    </p>
                </div>

            </div>

        </div>

    </center>

</body>

</html>