<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <title th:text="'PathFinder | ' + #{inicioSesionTitulo}"></title>

    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="css/global_font.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="/website/css/uicons-bold-rounded.css">
    <script src="/js/cambiarIdioma.js"></script>
</head>

<body class="malla">
    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/inicio}">
                    <img src="css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/lenguage.png" alt="" class="link-icon" th:text="#{idioma}"></div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/exit1.png" alt="" class="link-icon" th:text="#{cerrarSesion}">Cerrar </div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
            </div>
    
            <div class="navbar-links" id="navbarLinks">
                <div class="link">
                    <img src="css/assets/navbaricons/lenguage.png" alt="" class="link-icon">
                    <select name="lenguajes" id="lang" onchange="changeLang(this)">
                        <option th:text="#{idioma}"></option>
                        <option value="es">Español</option>
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                    </select>
                </div>
                <a th:href="@{/acercade}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/about.png" alt="" class="link-icon" th:text="#{quienesSomos}"></div></a>
                <hr>
                <a th:href="@{/login}" style="display: none;"><div class="link"><img src="css/assets/navbaricons/enter.png" alt="" class="link-icon" th:text="#{inicioSesion}"></div></a>
                <a th:href="${#strings.concat('/inicio', (lang != null and lang != '' ? '?lang=' + lang : ''))}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/home.png" alt="" class="link-icon" th:text="#{regresoInicio}"></div></a>
                <a th:href="@{/perfil}" style="display: none;"><div class="link"><img src="css/assets/navbaricons/profile-picture.jpg" alt="" id="profile-icon" class="link-icon" th:text="#{perfil}"></div></a>
                <a th:href="@{/registro}" style="display: none;"><div class="link" id="link-register"><img src="css/assets/navbaricons/agregar-usuario.png" alt="" class="link-icon" th:text="#{creaCuenta}"></div></a>
            </div>

        </nav>
    </header>
    <center>

        <div class="main-content">
            <div class="tarjeta">
                <div class="login-image">
                    <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="">
                    <img src="/css/decision-77.svg" alt="">
                </div>

                <div class="login-form">
                    <h1 id="welcome-title" th:text="#{saludo_index}">¡Bienvenido!</h1>
                    <h2 id="sign-in-title" th:text="#{inicioSesion}">Iniciar sesión</h2>
                    <p th:if="${param.error}" id="error">ERROR: Ingresa tus datos nuevamente</p>
                    <p th:if="${mensajeExito}" th:text="${mensajeExito}"></p>

                    <form th:action="@{/login}" method="post"> <!--FORMULARIO-->

                        <div class="form-input">
                            <span class="input-icon"><i class="fi fi-rr-envelope"></i></span>
                            <input id="username" required="" type="email" name="username" th:placeholder="#{ingresaEmail}" />
                        </div>

                        <div class="form-input">
                            <span class="input-icon"><i class="fi fi-rr-lock"></i></span>
                            <input id="password" name="password" required="" type="password" th:placeholder="#{ingresaContra}">
                        </div>

                        <button class="btn btn-primary"> <!--BOTON DE INICIO DE SESION-->
                            <span class="btn-txt" th:text="#{inicioSesion}">Iniciar sesión</span>
                        </button>

                        <p id="create-account-message-login"><span th:text="#{registrarMensaje}">¿No tienes una cuenta?</span>
                            <a th:href="${#strings.concat('/registro', (lang != null and lang != '' ? '?lang=' + lang : ''))}" id="create-account-message-login" th:text="#{creaCuenta}">¡Crea una!</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </center>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('.header');
    const navbar = document.querySelector('.navbar');
    const navbarLogo = document.querySelector('.navbar-logo');

    const hamburger = document.createElement('div');
    hamburger.classList.add('hamburger-menu');
    hamburger.innerHTML = '<span></span><span></span><span></span>';

    navbarLogo.appendChild(hamburger);

    hamburger.addEventListener('click', function() {
        header.classList.toggle('expanded');
        hamburger.classList.toggle('active');
        
        if (header.classList.contains('expanded')) {
            const navbarLinks = document.querySelector('.navbar-links');
            header.style.height = `${5 + navbarLinks.scrollHeight / 16}rem`;
        } else {
            header.style.height = '6rem';
        }
    });

    function handleResize() {
        if (window.innerWidth > 768) {
            header.classList.remove('expanded');
            hamburger.classList.remove('active');
            header.style.height = '6rem';
        }
    }

    window.addEventListener('resize', handleResize);
});
    </script>
</body>

</html>