<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <title th:text="#{registroTitulo}"></title>
    
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="css/global_font.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="/website/css/uicons-bold-rounded.css">

        <script>
            function changeLang(selectElement) {
                var selectedLang = selectElement.value;
                var currentUrl = window.location.href;
                
                // Reemplazar o añadir el parámetro lang en la URL actual
                var updatedUrl;
                if (currentUrl.includes('?')) {
                    updatedUrl = currentUrl.replace(/(\?lang=)[^\&]+/, '$1' + selectedLang);
                } else {
                    updatedUrl = currentUrl + '?lang=' + selectedLang;
                }
                
                // Redirigir a la nueva URL
                window.location.href = updatedUrl;
            }
        </script>
        <script src="/js/validacionesRegistro.js"></script>
</head>

<body class="malla">
    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/inicio}">
                    <img src="css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/lenguage.png" alt="" class="link-icon" th:text="#{idioma}"></div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/exit1.png" alt="" class="link-icon" th:text="#{cerrarSesion}">Cerrar </div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                <a href="" style="display: none;"><div class="link"><img src="css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
            </div>
    
            <div class="navbar-links" id="navbarLinks">
                <div class="link">
                    <img src="css/assets/navbaricons/lenguage.png" alt="" class="link-icon">
                    <select name="lenguajes" id="lang" onchange="changeLang(this)">
                        <option th:text="#{idioma}"></option>
                        <option value="es">Español</option>
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                    </select>
                </div>
                <a th:href="@{/acercade}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/about.png" alt="" class="link-icon" th:text="#{quienesSomos}"></div></a>
                <hr>
                <a th:href="@{/login}" style="display: none;"><div class="link"><img src="css/assets/navbaricons/enter.png" alt="" class="link-icon" th:text="#{inicioSesion}"></div></a>
                <a th:href="${#strings.concat('/inicio', (lang != null and lang != '' ? '?lang=' + lang : ''))}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/home.png" alt="" class="link-icon" th:text="#{regresoInicio}"></div></a>
                <a th:href="@{/perfil}" style="display: none;"><div class="link"><img src="css/assets/navbaricons/profile-picture.jpg" alt="" id="profile-icon" class="link-icon" th:text="#{perfil}"></div></a>
                <a th:href="@{/registro}" style="display: none;"><div class="link" id="link-register"><img src="css/assets/navbaricons/agregar-usuario.png" alt="" class="link-icon" th:text="#{creaCuenta}"></div></a>
            </div>

        </nav>
    </header>
    <center>

        <div class="main-content">
            <div class="tarjeta">
                <div class="login-image">
                    <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="">
                    <img src="css/register_image.svg" alt="">
                </div>

                <div class="login-form">
                    <h1 id="welcome-title" th:text="#{saludo_index}">¡Bienvenido!</h1>
                    <h2 id="sign-in-title" th:text="#{registrate}">Crea una cuenta</h2>
                    
                    <p th:if="${mensajeExito}" th:text="${mensajeExito}"></p>

                    <form th:action="@{/registro}"  method="post" th:object="${usuario}"> <!--FORMULARIO-->
						<input type="hidden" th:field="*{lang}" />

                        <div class="form-input">
                            <span class="input-icon"><i class="fi fi-rr-user"></i></span>
                            <input id="nombre" for="nombre" type="text" class="input" th:placeholder="#{nombreApellido}"
                            name="nombre" required pattern="\S+\s+\S+.*"
                            th:title="#{errorNombre}" autofocus th:field="*{nombre}">
                        </div>
                        <div class="form-input">
                            <span class="input-icon"><i class="fi fi-rr-envelope"></i></span>
                            <input id="email" type="email" class="input" th:placeholder="#{nuevoCorreo}"
                            th:field="*{email}" required autofocus="autofocus">
                        </div>

                        <div class="form-input">
                            <span class="input-icon"><i class="fi fi-rr-key"></i></span>
                            <input type="password" id="password" class="input" th:placeholder="#{creaContra}"
                            th:field="*{password}" required autofocus="autofocus">
                        </div>

                        <div class="form-input">
                            <span class="input-icon"><i class="fi fi-rr-lock"></i></span>
                            <input type="password" id="password" class="input" th:placeholder="#{confirmaContra}" required
                            autofocus="autofocus">
                        </div>

                        <button type="submit" class="btn btn-primary"> <!--BOTON DE INICIO DE SESION-->
                            <p class="btn-txt" th:text="#{registrateBoton}">Registrarse</p>
                        </button>

                        <p id="create-account-message-login"><span th:text="#{tengoCuenta}">Si estas registrado</span>
                            <a th:href="${#strings.concat('/login', (lang != null and lang != '' ? '?lang=' + lang : ''))}"id="create-account-message-login" th:text="#{inicioSesion}">inicia sesión aqui</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </center>

    <script>

        // Llamar a setInitialLanguage cuando se carga la página
        window.onload = setInitialLanguage;

        // Cierra el menú si se hace clic fuera de él
        window.onclick = function(event) {
            if (!event.target.closest('.language-selector')) {
                var options = document.getElementById('languageOptions');
                if (options.classList.contains('show')) {
                    options.classList.remove('show');
                }
            }
        }

        // Llamar a setInitialLanguage cuando se carga la página
        window.onload = setInitialLanguage;

        // Cierra el menú si se hace clic fuera de él
        window.onclick = function(event) {
            if (!event.target.closest('.language-selector')) {
                var options = document.getElementById('languageOptions');
                if (options.classList.contains('show')) {
                    options.classList.remove('show');
                }
            }
        }

// Cerrar el menú si se hace clic fuera de él
window.onclick = function(event) {
    if (!event.target.matches('.language-button') && !event.target.matches('.link-icon')) {
        var options = document.getElementById("languageOptions");
        if (options.style.display === "block") {
            options.style.display = "none";
        }
    }
}

// Establecer el idioma por defecto o leer de la URL
window.onload = function() {
    var urlParams = new URLSearchParams(window.location.search);
    var lang = urlParams.get('lang') || 'es';
    document.getElementById("selectedLanguage").textContent = lang.toUpperCase();
}




        document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('.header');
    const navbar = document.querySelector('.navbar');
    const navbarLogo = document.querySelector('.navbar-logo');

    // Crear el botón del menú hamburguesa
    const hamburger = document.createElement('div');
    hamburger.classList.add('hamburger-menu');
    hamburger.innerHTML = '<span></span><span></span><span></span>';

    // Insertar el botón después del logo
    navbarLogo.appendChild(hamburger);

    hamburger.addEventListener('click', function() {
        header.classList.toggle('expanded');
        hamburger.classList.toggle('active');
        
        // Ajustar la altura máxima del header para la animación
        if (header.classList.contains('expanded')) {
            const navbarLinks = document.querySelector('.navbar-links');
            header.style.height = `${5 + navbarLinks.scrollHeight / 16}rem`;
        } else {
            header.style.height = '6rem';
        }
    });

    // Función para manejar el cambio de tamaño de la ventana
    function handleResize() {
        if (window.innerWidth > 768) {
            header.classList.remove('expanded');
            hamburger.classList.remove('active');
            header.style.height = '6rem';
        }
    }

    // Agregar event listener para el cambio de tamaño de la ventana
    window.addEventListener('resize', handleResize);
});
    </script>

<script src="/js/cambiarIdioma.js"></script>
</body>

</html>