<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <link rel="icon" href="css/IsotipoAdminDeveloper.ico" type="image/x-icon">
        <title th:text="#{titleCrearUniversidad}">Crear Universidad</title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <link href="/css/validaciones.css" rel="stylesheet">
        <script src="/js/navbar.js"></script>
        <script src="/js/utils.js"></script>
        <link rel="stylesheet" href="/css/motorbusqueda.css">
        <link rel="stylesheet" href="/css/buscador.css">
    </head>
    <body class="bg-gray-100 dark:bg-gray-800" th:data-lang="${usuario.lang}">
        <div id="translations" 
            th:attr="data-carrera=#{carreraTag},
                    data-area=#{areaTag},
                    data-universidad=#{universidadTag}" 
            style="display: none;">
        </div>
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>

                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>

                <div class="navbar-links" id="navbarLinks">

                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <div id="searchForm">
                            <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                            <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                            </div>
                        </div>
                    </div>
                    <script src="/js/motorBusqueda.js"></script>

                    <hr>
                    <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                        <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                                class="link-icon" th:text="#{perfil}"></div>
                    </a>
                </div>

            </nav>
        </header>

        <div class="title-gradient">
            <h1 th:text="#{crearUniversidad}">Resultado</h1>
        </div>

        <div id="alert-additional-content-3" th:if="${param.exito}" class="p-4 mb-4 mt-4 text-green-800 border border-green-300 rounded-lg bg-green-50 md:mx-28 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <div class="flex items-center">
              <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
              <h3 class="text-lg font-medium" th:text="#{universidadAgregadaExitosa}">¡Universidad agregada con éxito!</h3>
            </div>
            <div class="mt-2 mb-4 text-sm" th:text="#{publicadoExistoso}">
                Se ha publicado con éxito en Pathfinder, para cualquier duda o comentario, contactanos!
            </div>
            <div class="flex">
              <button type="button" onclick="ocultarAlerta()" class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" data-dismiss-target="#alert-additional-content-3" aria-label="Close" th:text="#{cerrar}">
                Cerrar
              </button>
            </div>
        </div>

        <div th:if="${param.error}" id="alert-additional-content-2" class="p-4 mt-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 md:mx-28 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <div class="flex items-center">
              <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
              <h3 class="text-lg font-medium" th:text="#{errorAgregarUniversidad}">!Error al agregar la Universidad!</h3>
            </div>
            <div class="mt-2 mb-4 text-sm" th:text="#{contactoAclaracion}">Favor de contactarte con nosotros para cualquier aclaracion.</div>
            <div class="flex">
              <button type="button" onclick="ocultarAlerta()" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" data-dismiss-target="#alert-additional-content-2" aria-label="Close" th:text="#{cerrar}">
                Cerrar
              </button>
            </div>
          </div>
          
        <div class="md:mx-28 my-8 border border-blue-800 rounded-lg shadow-lg shadow-blue-500/50">
            <form id="myForm" th:action="@{/administrador/postguardaruniversidad}" th:object="${universidad}" method="post" enctype="multipart/form-data">
                
                <!--Nombre Universidad-->
                <div class="mx-10 my-5">
                    <div class="mb-5"><span class="text-black text-2xl font-bold dark:text-white" th:text="#{agregarUniversidad}">Añadir universidad</span></div>
                    <label for="nombre_completo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{nombreUniversidad}">Nombre Universidad (sin abreviar):</label>
                    <input id="nombre_completo" th:field="*{nombre_completo}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <div id="nombreErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--NombreAbreviado-->
                <div class="mx-10 my-5">
                    <label for="nombre_abreviado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{nombreAbreviado}">Nombre Universidad abreviado:</label>
                    <input id="nombre_abreviado" th:field="*{nombre_abreviado}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <div id="nombreAbreviadoErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--link-->
                <div class="mx-10 my-5">
                    <label for="pagina_web" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{linkOficial}">Añadir link de la pagina oficial:</label>
                    <input id="pagina_web" th:field="*{pagina_web}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <div id="linkErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--correo-->
                <div class="mx-10 my-5">
                    <label for="correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{correoOficial}">Añadir correo oficial de la universidad:</label>
                    <input id="correo" th:field="*{correo}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <div id="correoErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--telefono-->
                <div class="mx-10 my-5">
                    <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{telefono}">Añadir telefono:</label>
                    <input id="telefono" th:field="*{telefono}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <div id="telefonoErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--infoPrincipal-->
                <div class="mx-10 my-5">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{infoUniversidad}">Informacion de la universidad:</label>
                    <textarea id="message" rows="4" th:field="*{informacion}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe la informacion principal de la universidad...."></textarea>
                        <div id="messageErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--direccion-->
                <div class="mx-10 my-5">
                    <label for="direccion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{direccion}">Añadir direccion:</label>
                    <input id="direccion" th:field="*{direccion}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <div id="direccionErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--direccionGoogle-->
                <div class="mx-10 my-5">
                    <label for="direccionGoogle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{ubiGoogle}">Añadir direccion de google:</label>
                    <input id="direccionGoogle" th:field="*{direccionGoogle}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Ejemplo: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7003.141572755976!2d">
                    <div id="direccionGoogleErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--tipoInstitucion-->
                <div class="mx-10 my-5">
                    <label for="tipo_institucion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{tipoInstitucion}">Tipo de institución:</label>
                    <input id="tipo_institucion" th:field="*{tipo_institucion}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Ejemplo: Publica o Privada">
                    <div id="tipoErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--caracteristicas-->
                <div class="mx-10 my-5">
                    <label for="messageC" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{caracteristicasU}">Caracteristicas de la universidad:</label>
                    <textarea id="messageC" rows="4" th:field="*{caracteristicas}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe las caracteristicas principal de la universidad...."></textarea>
                        <div id="caracteristicasErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--logo-->
                <div class="mx-10 my-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input1" th:text="#{logo}">Agrega el logo:</label>
                    <input th:field="*{logo}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input1" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>    
                    <div id="logoErrorV" class="validationErrors" style="display: none;"></div>

                </div>

                <!--Portada-->
                <div class="mx-10 my-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input2" th:text="#{portada}">Agrega la portada</label>
                    <input th:field="*{portada}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input2" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>    
                    <div id="portadaErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!--AgregarImagen-->
                <div class="mx-10 my-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input3" th:text="#{imagen}">Agrega una imagen</label>
                    <input th:field="*{imagen1}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input3" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>    
                    <div id="imagenErrorV" class="validationErrors" style="display: none;"></div>
                </div>

                <!-- AgregarUniversidad -->
                <div class="p-4 flex justify-end pr-20">
                    <div id="formError" class="validationErrors" style="display: none;"></div>

                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{agregarUniversidad}">
                            Agregar Carrera
                        </span>
                    </button>
                </div-->
            </form>
        </div>
        <script src="/js/crearUniversidadValidacion.js"></script>
    </body>
</html>