<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <link rel="icon" href="css/IsotipoAdminDeveloper.ico" type="image/x-icon">
        <title th:text="#{modificarCarrera}">Crear Carrera</title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <script src="/js/navbar.js"></script>
        <script src="/js/utils.js"></script>
        <link rel="stylesheet" href="/css/motorbusqueda.css">
        <link rel="stylesheet" href="/css/buscador.css">
    </head>
    <body class="bg-gray-100 dark:bg-gray-800" th:data-lang="${usuario.lang}">
        <div id="translations" 
            th:attr="data-carrera=#{carreraTag},
                    data-area=#{areaTag},
                    data-universidad=#{universidadTag}" 
            style="display: none;">
        </div>
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>

                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>

                <div class="navbar-links" id="navbarLinks">

                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <div id="searchForm">
                            <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                            <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                            </div>
                        </div>
                    </div>
                    <script src="/js/motorBusqueda.js"></script>

                    <hr>
                    <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                        <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                                class="link-icon" th:text="#{perfil}"></div>
                    </a>
                </div>

            </nav>
        </header>
        <div class="title-gradient">
            <h1 th:text="#{modificarCarrera}">Resultado</h1>
        </div>

        <div id="alert-additional-content-3" th:if="${param.exito}" class="p-4 mb-4 mt-4 text-green-800 border border-green-300 rounded-lg bg-green-50 md:mx-28 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <div class="flex items-center">
              <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
              <h3 class="text-lg font-medium" th:text="#{acrreraModificadaExito}">¡Carrera universitaria modificada con éxito!</h3>
            </div>
            <div class="mt-2 mb-4 text-sm" th:text="#{textoCarreraExito}">
                Se ha publicado la modificacion con éxito en Pathfinder, para cualquier duda o comentario, contactanos!
            </div>
            <div class="flex">
              <button type="button" onclick="ocultarAlerta()" class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" data-dismiss-target="#alert-additional-content-3" aria-label="Close" th:text="#{cerrar}">
                Cerrar
              </button>
            </div>
        </div>

        <div th:if="${param.error}" id="alert-additional-content-2" class="p-4 mt-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 md:mx-28 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <div class="flex items-center">
              <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
              <h3 class="text-lg font-medium" th:text="#{errorModificarCarrera}">!Error al modificar la carrera!</h3>
            </div>
            <div class="mt-2 mb-4 text-sm" th:text="#{contactoAclaracion}">Favor de contactarte con nosotros para cualquier aclaracion.</div>
            <div class="flex">
              <button type="button" onclick="ocultarAlerta()" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" data-dismiss-target="#alert-additional-content-2" aria-label="Close" th:text="#{cerrar}">
                Cerrar
              </button>
            </div>
          </div>


        <div class="md:mx-28 my-8 border border-blue-800 rounded-lg shadow-lg shadow-blue-500/50">
            <form th:action="@{/administrador/postmodificarcarrera}" th:object="${carrera}" method="post" enctype="multipart/form-data">
                <input class="hidden" id="id_carrera" th:field="*{id_carrera}">
                <div class="mx-10 my-5">
                    <div class="mb-5"><span class="text-black text-2xl font-bold dark:text-white" th:text="#{modificarCarrera}">Modificar Carrera</span></div>
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{nombreCarrera}">Nombre carrera:</label>
                    <input id="nombre" th:field="*{nombre}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mx-10 my-5">
                    <label for="universidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{SeleccionarUniversidad}">Selecciona una universidad:</label>
                    <select id="universidad" th:field="*{universidad}" class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected value="0" th:text="#{SeleccionarUniversidad}">Selecciona una universidad</option>
                        <option th:each="uni : ${universidades}" 
                            th:value="${uni.id_universidad}" 
                            th:text="${uni.nombre_completo}">
                        </option>
                    </select>
                </div>
                <div class="mx-10 my-5">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{infoCarrera}">Informacion de la carrera:</label>
                    <textarea id="message" rows="4" th:field="*{informacion}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        th:placeholder="#{infoPrincipalCarrera}"></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label for="desc_breve" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{descripcionCarrera}">Descripcion breve de la carrera (para las tarjetas):</label>
                    <textarea id="desc_breve" rows="4" th:field="*{desc_breve}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        th:placeholder="#{descripcionCarrera}"></textarea>
                </div>
                <div class="mx-10 my-5">
                    <input id="default-checkbox" th:field="*{bilingue}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="#{uniBilingue}">Universidad Bilingue</label>
                </div>
                <div class="mx-10 my-5 flex flex-col md:flex-row">
                    <div class="basis-1/3">
                        <label for="slctPeriodoEscolar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{seleccionaPeriodo}">Selecciona el periodo escolar:</label>
                        <select id="slctPeriodoEscolar" th:field="*{periodoEscolar}" class="block p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="0" th:text="#{seleccionaPeriodo}">Selecciona el periodo escolar</option>
                            <option th:each="perEscolar : ${allPeriodoEscolar}" 
                                th:value="${perEscolar.id_periodo_escolar}" 
                                th:text="${perEscolar.nombre_periodo}">
                            </option>
                        </select>
                    </div>
                    <div class="basis-1/3">
                        <label for="numero_periodos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{numeroPeriodos}">Numero de periodos:</label>
                        <input id="numero_periodos" th:field="*{cantidad_periodos}" type="number" value="0" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="basis-1/3">
                        <label for="txtCosto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{costo}">Costo:</label>
                        <input id="txtCosto" th:field="*{costo}" class="mr-28 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </div>
                <div class="mx-10 my-5">
                    <label for="horario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{horarioEspecifico}">Horario Especifico:</label>
                    <textarea id="horario" th:field="*{horario_especifico}" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        th:placeholder="#{horarioEjemplo}"></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label for="RoadMap" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{roadMap}">RoadMap:</label>
                    <input id="RoadMap" th:field="*{roadmap}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    th:placeholder="#{ejemploRoadmap}">
                </div>
                <div class="mx-10 my-5 flex flex-col md:flex-row">
                    <div class="basis-1/3">
                        <label for="slctArea" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{seleccionarArea}">Selecciona el Area:</label>
                        <select id="slctArea" th:field="*{area}" class="block p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="0" th:text="#{seleccionarArea}">Selecciona el Area</option>
                            <option th:each="iarea : ${areas}" 
                                th:value="${iarea.id_area}" 
                                th:text="${iarea.nombre_area}">
                            </option>
                        </select>
                    </div>
                    <div class="basis-1/3">
                        <label for="slctHorario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{seleccionarHorario}">Selecciona el Horario:</label>
                        <select id="slctHorario" th:field="*{horario}" class="block p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="0" th:text="#{seleccionarHorario}">Selecciona el horario</option>
                            <option th:each="ihorario : ${horarios}" 
                                th:value="${ihorario.id_horario}" 
                                th:text="${ihorario.nombre_horario}">
                            </option>
                        </select>
                    </div>
                    <div class="basis-1/3">
                        <label for="slctModalidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{seleccionarModalidad}">Selecciona la modalidad:</label>
                        <select id="slctModalidad" th:field="*{modalidad}" class="block p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="0" th:text="#{seleccionarModalidad}">Selecciona la modalidad</option>
                            <option th:each="imodalidad : ${modalidades}" 
                                th:value="${imodalidad.id_modalidad}" 
                                th:text="${imodalidad.nombre_modalidad}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mx-10 my-5">
                    <label for="txtDesempeniarse" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{desemp}">Como desempeñarse:</label>
                    <textarea th:field="*{como_desemp}" id="txtDesempeniarse" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        th:placeholder="#{ejemploDesemp}"></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label for="txtDondeTrabajar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{dondeTrabajar}">Donde trabajar:</label>
                    <textarea th:field="*{donde_trabajar}" id="txtDondeTrabajar" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        th:placeholder="#{ejemploTrabajo}"></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label for="txtPqEstudiar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{porqueEstudiar}">Porque estudiar:</label>
                    <textarea id="txtPqEstudiar" th:field="*{porque_estudiar}" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        th:placeholder="#{ejemploPorqueTrabajar}"></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input" th:text="#{agregaImagen}">Agrega una imagen</label>
                    <input th:field="*{file}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file">
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                </div>
                <div class="p-4 flex justify-end pr-20">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{modificarCarrera}">
                            Modificar Carrera
                        </span>
                    </button>
                </div>
            </form>
        </div>


    </body>
</html>