<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <link rel="icon" href="css/IsotipoAdminDeveloper.ico" type="image/x-icon">
        <title th:text="#{modificarTest}">Crear Universidad</title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <script src="/js/navbar.js"></script>
        <script src="/js/utils.js"></script>
        <link rel="stylesheet" href="/css/motorbusqueda.css">
        <link rel="stylesheet" href="/css/buscador.css">
    </head>
    <body class="bg-gray-100 dark:bg-gray-800" th:data-lang="${usuario.lang}">
        <div id="translations" 
            th:attr="data-carrera=#{carreraTag},
                    data-area=#{areaTag},
                    data-universidad=#{universidadTag}" 
            style="display: none;">
        </div>
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>

                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>

                <div class="navbar-links" id="navbarLinks">

                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <div id="searchForm">
                            <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                            <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                            </div>
                        </div>
                    </div>
                    <script src="/js/motorBusqueda.js"></script>

                    <hr>
                    <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                        <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                                class="link-icon" th:text="#{perfil}"></div>
                    </a>
                </div>

            </nav>
        </header>

        <div class="title-gradient">
            <h1><span th:text="#{modificarPregunta}">Modificar Pregunta</span> <span th:text="${pregunta.id_pregunta}"></span></h1>
        </div>
        <div class="ml-28 mt-4 text-black text-3xl font-bold dark:text-white">
            <span th:text="#{modificarPregunta}">Modificar Pregunta</span> <span th:text="${pregunta.id_pregunta}"></span>
        </div>

        <div class="md:mx-28 my-8 border border-blue-800 rounded-lg shadow-lg shadow-blue-500/50">
            <form action="#" th:action="@{/administrador/postGuardarPregunta}" th:object="${pregunta}" method="post">
                <input type="hidden" th:field="*{id_pregunta}" />
               
                <div class="mx-10 my-5">
                    <label for="nombre_abreviado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{textoP}">Texto de pregunta:</label>
                    <input type="text" id="text" th:field="*{text}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mx-10 my-5">
                    <label for="nombre_abreviado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{textoIngles}">Texto en inglés:</label>
                    <input type="text" id="text_ingles" th:field="*{text_ingles}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mx-10 my-5">
                    <label for="nombre_abreviado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{textoFrances}">Texto en francés:</label>
                    <input type="text" id="text_frances" th:field="*{text_frances}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                
                <div class="ml-10 mt-4 text-black text-2xl font-bold dark:text-white">
                    <span >Respuestas de la pregunta </span> <span th:text="${pregunta.id_pregunta}"></span>
                </div>

                <div th:each="respuesta, stat : *{respuestas}">
                    <h4 class="ml-10 mt-4 text-black text-xl font-bold dark:text-white" th:text="#{respuesta}">Respuesta [[${stat.index + 1}]]</h4>
                    <input type="hidden" th:field="*{respuestas[__${stat.index}__].id_respuesta}" />
                    <div class="mx-10 my-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{textoEsp}">Texto en español:</label>
                        <input type="text" th:field="*{respuestas[__${stat.index}__].text}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mx-10 my-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{textoIngles}">Texto en inglés:</label>
                        <input type="text" th:field="*{respuestas[__${stat.index}__].text_ingles}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mx-10 my-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{textoFrances}">Texto en francés:</label>
                        <input type="text" th:field="*{respuestas[__${stat.index}__].text_frances}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mx-10 my-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{idArea}">Área ID:</label>
                        <select id="area" th:field="*{respuestas[__${stat.index}__].id_area}" class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" aria-required="true">
                            <option th:each="area : ${areasDTO}" 
                                th:value="${area.id_area}" 
                                th:text="${area.nombre_area}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="p-4 flex justify-end pr-20">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{modificarPregunta}">
                            Modificar Pregunta
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>