<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <link rel="icon" href="css/IsotipoAdminDeveloper.ico" type="image/x-icon">
        <title th:text="#{traducciones}">Crear Carrera</title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <script src="/js/navbar.js"></script>
        <script src="/js/utils.js"></script>
        <link rel="stylesheet" href="/css/motorbusqueda.css">
        <link rel="stylesheet" href="/css/buscador.css">
        <script>
            function eliminarCarrera(){
            var inputIdCarrera = document.getElementById("input_id_carrera").value;
            // Construir la URL dinámica
            var url = '/administrador/eliminarcarrera/' + inputIdCarrera;
            // Redirigir a la URL
            window.location.href = url;
            }
        </script>
    </head>
    <body class="bg-gray-100 dark:bg-gray-800" th:data-lang="${usuario.lang}">
        <div id="translations" 
            th:attr="data-carrera=#{carreraTag},
                    data-area=#{areaTag},
                    data-universidad=#{universidadTag}" 
            style="display: none;">
        </div>
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>

                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>

                <div class="navbar-links" id="navbarLinks">

                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <div id="searchForm">
                            <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                            <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                            </div>
                        </div>
                    </div>
                    <script src="/js/motorBusqueda.js"></script>

                    <hr>
                    <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                        <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                                class="link-icon" th:text="#{perfil}"></div>
                    </a>
                </div>

            </nav>
        </header>

        <div class="title-gradient">
            <h1 th:text="#{traduccionUniversidad}">Resultado</h1>
        </div>

        <div class="md:mx-28 my-8 border border-blue-800 rounded-lg shadow-lg shadow-blue-500/50">
            <form th:action="@{/administrador/postGuardarTraduccionEsp}" th:object="${especialidadTraduccion}" method="post" enctype="multipart/form-data">
                <input class="hidden" id="id_e_traduccion" th:field="*{id_e_traduccion}"-->
                <input class="hidden" id="id_especialidad" th:field="*{id_especialidad}">
                <input class="hidden" id="lang" th:field="*{lang}">
                <div class="mx-10 my-5">
                    <div class="mb-5"><span class="text-black text-2xl font-bold dark:text-white" th:text="#{modificarCarrera}">Modificar Carrera</span></div>
                    <label for="nombre" class="block mb-2 text-sm font-mnedium text-gray-900 dark:text-white" th:text="#{nombreEspecialidad}">Nombre:</label>
                    <input id="nombre" th:field="*{nombre}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mx-10 my-5">
                    <label for="descripcion_breve" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{descripcionEspecialidad}">Descripcion breve de la especialidad (para las tarjetas):</label>
                    <textarea id="descripcion_breve" rows="4" th:field="*{descripcion_breve}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe una descripcion breve para la especialidad...."></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label for="informacion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{infoEspecialidad}">Informacion de la especialidad:</label>
                    <textarea id="informacion" rows="4" th:field="*{informacion}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe la informacion de la especialidad...."></textarea>
                </div>
                <div class="mx-10 my-5">
                    <label for="horario_especifico" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:Text="#{horarioEspecifico}">Horario especifico de la especialidad:</label>
                    <textarea id="horario_especifico" rows="4" th:field="*{horario_especifico}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe el horario de la especialidad...."></textarea>
                </div>
                <div class="p-4 flex justify-end pr-20">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{modificarEspecialidad}">
                            Modificar Especialidad
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>