<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <link rel="icon" href="css/IsotipoAdminDeveloper.ico" type="image/x-icon">
        <title th:text="#{traducciones}">Crear Carrera</title>
        <!--xd-->
        <link href="/css/tailwind.css" rel="stylesheet">
        <script src="/js/navbar.js"></script>
        <script src="/js/utils.js"></script>
        <script>
            function eliminarCarrera(){
            var inputIdCarrera = document.getElementById("input_id_carrera").value;
            // Construir la URL dinámica
            var url = '/administrador/eliminarcarrera/' + inputIdCarrera;
            // Redirigir a la URL
            window.location.href = url;
            }
        </script>
    </head>
    <body class="bg-gray-100 dark:bg-gray-800">
        <nav class="border-gray-200 bg-gradient-to-r from-cyan-500 to-blue-500 dark:bg-amber-500">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-6">
                <a th:href="@{/}" class="flex items-center space-x-6 rtl:space-x-reverse">
                    <div id="logo-image">
                        <img id="logo-horizontal-image" src="css/LogoLogoPathFinderHorizontal.svg" alt=""
                            style="max-width:40%;height:auto;">
                    </div>
                    <span class="self-center text-3xl font-semibold whitespace-nowrap">PathFinder</span>
                </a>
    
                <div class="relative flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-blue-600"
                        id="user-menu-button" aria-expanded="false">
                        <span class="sr-only" th:text="#{menuUsuario}">Menu usuario</span>
                        <img class="w-8 h-8 rounded-full"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-kvDMFGIUOvSxdN4wetKCEXcYyk3I5WfvGQ&s"
                            alt="user photo">
                    </button>
    
                </div>
                <div class="hidden absolute right-0 mt-8 mr-8 md:mt-64 md:mr-36 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600 z-20"
                    id="user-dropdown">
                    <div class="px-4 py-3">
                        <span class="block text-sm text-black-900 dark:text-white"
                            th:text="${usuario.nombre} + ' ' + ${usuario.apellidoP}">usuario</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
                            th:text="${usuario.email} ">correo</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white" th:text="#{perfil}">Perfil</a>
                        </li>
                        <li>
                            <a th:href="@{/configuracion?lang=}+${usuario.lang}"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white" th:text="#{configuraciones}">Configuraciones</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white" th:text="#{favoritos}">Favoritos</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}"
                                class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-300 dark:text-white" th:text="#{cierreSesion}">Cerrar
                                sesion</a>
                        </li>
                    </ul>
                </div>
    
                <div class="items-center justify-between  w-full md:flex md:w-auto md:order-1">
                    <ul class="flex flex-col font-medium p-4 mt-4 md:space-x-8 md:flex-row md:mt-0 md:border-0">
                        <li>
                            <a th:href="@{/}" class="text-2xl py-2 px-3 md:p-0" aria-current="page" th:text="#{inicio}">Inicio</a>
                        </li>
                        <li>
                            <a th:href="@{/universidades?lang=}+${usuario.lang}" class="text-2xl py-2 px-3 md:p-0" th:text="#{universidades}">Universidades</a>
                        </li>
                        <li>
                            <a th:href="@{/carreras/all?lang=}+${usuario.lang}" class="text-2xl py-2 px-3 md:p-0" th:text="#{carreras}">Carreras</a>
                        </li>
                        <li>
                            <a th:href="@{/carreras/areas?lang=}+${usuario.lang}"class="text-2xl py-2 px-3 md:p-0" th:text="#{areas}">Area</a>
                        </li>
                        <li>
                            <a href="#" class="text-2xl py-2 px-3 md:p-0" th:text="#{contactanos}">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="ml-28 mt-4">
            <span class="text-black text-3xl font-bold dark:text-white" th:text="#{traduccionUniversidad}">Traduccion Universidad</span>
        </div>

        <div class="md:mx-28 my-8 border border-blue-800 rounded-lg shadow-lg shadow-blue-500/50">
            <form th:action="@{/administrador/postGuardarTraduccionUni}" th:object="${universidadTraduccion}" method="post" enctype="multipart/form-data">
                <input class="hidden" id="id_u_traduccion" th:field="*{id_u_traduccion}">
                <input class="hidden" id="universidad" th:field="*{id_universidad}">
                <input class="hidden" id="universidad" th:field="*{lang}">
                <div class="mx-10 my-5">
                    <div class="mb-5"><span class="text-black text-2xl font-bold dark:text-white" th:text="#{modificarUniversidad}">Modificar universidad</span></div>
                    <label for="nombre_completo" class="block mb-2 text-sm font-mnedium text-gray-900 dark:text-white">Caracteristicas:</label>
                    <input id="nombre_completo" th:field="*{caracteristicas}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>

                <div class="mx-10 my-5">
                    <label for="informacion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{infoUniversidad}">Informacion de la universidad:</label>
                    <textarea id="informacion" rows="4" th:field="*{informacion}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Escribe las informacion principal de la universidad...."></textarea>
                </div>

                <div class="mx-10 my-5">
                    <label for="nombre_completo" class="block mb-2 text-sm font-mnedium text-gray-900 dark:text-white" th:text="#{tipoInstitucion}">Tipo de institucion</label>
                    <input id="nombre_completo" th:field="*{tipo_institucion}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="p-4 flex justify-end pr-20">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{modificarUniversidad}">
                            Modificar Universidad
                        </span>
                    </button>
                </div-->
            </form>
        </div>
    </body>
</html>