<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <link rel="icon" href="css/IsotipoAdminDeveloper.ico" type="image/x-icon">
        <title th:text="#{administrarUsuarios}">Modificar Universidad</title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <script src="/js/navbar.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/utils.js"></script>
        <link rel="stylesheet" href="/css/motorbusqueda.css">
        <link rel="stylesheet" href="/css/buscador.css">
        <script>
            function eliminarUsuario(){
            var inputIdUsuario = document.getElementById("input_id_usuarioB").value;
            var url = '/administrador/eliminarusuario/' + inputIdUsuario;
            window.location.href = url;
            }
        </script>
    </head>
    <body class="bg-gray-100 dark:bg-gray-800" th:data-lang="${usuario.lang}">
        <div id="translations" 
            th:attr="data-carrera=#{carreraTag},
                    data-area=#{areaTag},
                    data-universidad=#{universidadTag}" 
            style="display: none;">
        </div>
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>

                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>

                <div class="navbar-links" id="navbarLinks">

                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <div id="searchForm">
                            <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                            <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                            </div>
                        </div>
                    </div>
                    <script src="/js/motorBusqueda.js"></script>

                    <hr>
                    <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                        <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                                class="link-icon" th:text="#{perfil}"></div>
                    </a>
                </div>

            </nav>
        </header>

        <div class="title-gradient">
            <h1 th:text="#{administrarUsuarios}">Resultado</h1>
        </div>

        <input id="input_id_usuarioB" class="hidden">
        <div class="mx-36 mt-8">
            <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
                <li class="pb-3 sm:pb-4 hover:bg-gray-300 dark:hover:bg-gray-700  px-5 pt-2" th:each="user:${usuarios}" th:if="${user.id_usuario} != ${usuario.id_usuario}">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-kvDMFGIUOvSxdN4wetKCEXcYyk3I5WfvGQ&s" alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white" th:text="${user.nombre} + ' ' + ${user.apellidoP}">nombre</p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400" th:text="${user.email}"></p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            <a th:href="@{usuarios/{id}(id=${user.id_usuario}, lang=${usuario.lang})}">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                                </svg>
                            </a>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            <!--th:onclick="|confirmDeleteUsuario('${user.id_usuario}')|"-->
                            <svg class="w-6 h-6 text-gray-800 dark:text-white cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" th:onclick="|confirmDeleteUsuario('${user.id_usuario}')|">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <input id="input_id_usuarioB" class="hidden">
        <div id="popup-modal" tabindex="-1" class="hidden flex items-center justify-center fixed inset-0 z-[9999] bg-black bg-opacity-50">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" onclick="ocultarModal()" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="p-4 md:p-5 text-center">
                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        <h3 class=" text-lg font-normal text-gray-500 dark:text-gray-300" th:text="#{preguntaBorrar}">¿Estas seguro de bloquear a este usuario?</h3>
                        <h3 class="mb-5 text-sm font-normal text-gray-500 dark:text-gray-400" th:text="#{warningBorrar}">El usuario no podra acceder durante la proxima semana</h3>
                        <button onclick="eliminarUsuario()" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center" th:text="#{seguro}">
                            Si, estoy seguro.
                        </button>
                        <button onclick="ocultarModal()" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" th:text="#{noSeguro}">No, cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>    
</html>