<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:classappend="${usuario.darkmode} ? 'dark' : ''">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
        <title th:text="#{titleArea}"></title>
        <link href="/css/tailwind.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/buscador.css">
        <script src="/js/navbar.js"></script>
        <script src="/js/buscador.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                    $('form').on('keyup', function(e) {
                    e.preventDefault();
                    var searchTerm = $('#search').val().toLowerCase();
    
                    $('#areas .tarjeta').each(function() {
                        var $area = $(this);
                        var nombreArea = $area.find('h2').text().toLowerCase();
    
                        var nombreMatch = nombreArea.includes(searchTerm);
    
                        if (nombreMatch) {
                            $area.show();
                        } else {
                            $area.hide();
                        }
                    });
                });
            });
    
         </script>
    </head>
    <body class="dark:bg-gray-800">
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>
    
                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>
    
                <div class="navbar-links" id="navbarLinks">
    
                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}">
                    </div>
    
                    <hr>
                    <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                        <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                                class="link-icon" th:text="#{perfil}"></div>
                    </a>
                </div>
    
            </nav>
        </header>

        <div class="title-gradient">
            <h1 th:text="#{areas}"></h1>
        </div>

        <center>
            <form class="contenedor-barra-busqueda">
                <div class="contenedor">
                    <div class="barra-busqueda">
                        <input type="search" id="search" class="rounded-l-lg dark:border-gray-700 dark:text-white" placeholder="Buscar area..."/>
                        <button type="submit" class="">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
            </center>

        <div id="areas" class="tarjetas-unis">
            <div th:each="area : ${areas}" class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                <a th:href="@{/carreras/area/{id}(id=${area.id_area}, lang=${usuario.lang})}" class="imagen-uni">
                    <img th:src="@{'/img/areas/'+  ${area.id_area} +'.jpg'}" alt="" />
                </a>

                <div class="tarjeta-contenido dark:text-white">
                    <a th:href="@{/carreras/area/{id}(id=${area.id_area}, lang=${usuario.lang})}">
                        <h2 th:text="${area.nombre_area}"></h2>
                    </a>
                    <p th:text="${area.descripcion}" class="dark:text-white"></p>

                    <div class="tarjeta-botones">
                        <a th:href="@{/carreras/area/{id}(id=${area.id_area}, lang=${usuario.lang})}" th:text="#{verMas}" class="ver-mas dark:shadow-none dark:hover:shadow-none">
                    </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>