<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    th:classappend="${usuario.darkmode} ? 'dark' : ''">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <title th:text="#{tituloAllCarreras}">PathFinder | Áreas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/navbar.js"></script>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/buscador.css">
    <script src="/js/buscador.js"></script>
    <link rel="stylesheet" href="/css/motorbusqueda.css">
</head>

<body class="dark:bg-gray-800" th:data-lang="${usuario.lang}">
    <div id="translations" th:attr="data-carrera=#{carreraTag},
                data-area=#{areaTag},
                data-universidad=#{universidadTag}" style="display: none;">
    </div>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/}">
                    <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>

                <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon"
                            th:text="#{universidades}"></div>
                </a>
                <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon"
                            th:text="#{areas}"></div>
                </a>
                <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon"
                            th:text="#{carreras}"></div>
                </a>
            </div>

            <div class="navbar-links" id="navbarLinks">

                <div class="form-input ">
                    <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                    <div id="searchForm">
                        <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                        <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                        </div>
                    </div>
                </div>
                <script src="/js/motorBusqueda.js"></script>

                <hr>
                <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt=""
                            id="profile-icon" class="link-icon" th:text="#{perfil}"></div>
                </a>
            </div>

        </nav>
    </header>

    <div class="title-gradient">
        <h4><span th:text="#{aquipuedesconocer}"> Aqui puedes conocer las diferencias entre las carreras de tu preferencia.</span> <a
                th:href="@{/carreras/all?lang=}+${usuario.lang}" th:text="#{compararOCarr}">Comparar otras carreras</a></h4>
        <h1><span th:text="#{comparadorCarreras}">Comparador de carreras de</span> <span>PathFinder</span></h1>

    </div>

    <div class="comparacion-carreras">
        <div class="carrera-columna">
            <div class="tarjeta dark:bg-gray-800 dark:text-white dark:shadow-none">
                <div class="imagen-uni bg-white">
                    <img th:src="@{'/img/' + ${carrera1.universidad.nombre_abreviado} + '/logo.jpg'}"
                        alt="Logo Universidad" />
                </div>
                <div class="tarjeta-contenido">
                    <div class="info-seccion nombre-carrera">
                        <h2 th:text="${carrera1.nombre}">Nombre de la Carrera</h2>
                    </div>
                    <div class="info-seccion universidad">
                        <div th:text="${carrera1.universidad.nombre_completo}">Nombre de la Universidad</div>
                    </div>
                    <div class="info-seccion descripcion">
                        <div th:text="${carrera1.desc_breve}">Descripción breve</div>
                    </div>
                    <div class="info-seccion horarios">
                        <div class="etiqueta" th:text="#{horarios}">Horarios</div>
                        <div th:utext="${carrera1.horario_especifico}">Horario específico</div>
                    </div>
                    <div class="info-seccion modalidad">
                        <div class="etiqueta" th:text="#{modalidad}">Modalidad</div>
                        <div th:text="${carrera1.modalidad.nombre_modalidad}">Modalidad</div>
                    </div>
                    <div class="info-seccion periodos">
                        <div class="etiqueta" th:text="#{ttlPeriodosEscolares}">Total de periodos escolares</div>
                        <div
                            th:text="${carrera1.cantidad_periodos} + ' ' + ${carrera1.periodoEscolar.nombre_periodo} + 's'">
                            Periodos escolares</div>
                    </div>
                    <div class="info-seccion costo">
                        <div class="etiqueta"><span th:text="#{costopor}"> Costo por </span> <span
                                th:text="${carrera1.periodoEscolar.nombre_periodo}"></span></div>
                        <div th:text="${carrera1.costo} + '0$'">Costo</div>
                    </div>
                    <div class="info-seccion area">
                        <div class="etiqueta" th:text="#{areaTag}">Área</div>
                        <div th:text="${carrera1.area.nombre_area}">Área de estudio</div>
                    </div>
                    <div class="info-seccion porque-estudiar">
                        <div class="etiqueta" th:text="#{porqueestuidarestacarr}">¿Por qué estudiar esta carrera?</div>
                        <div th:text="${carrera1.porque_estudiar}">Razones para estudiar</div>
                    </div>
                    <div class="info-seccion desempenio">
                        <div class="etiqueta" th:text="#{comoDes}">¿Cómo me puedo desempeñar?</div>
                        <div>
                            <ul th:utext="${carrera1.como_desemp}"></ul>
                        </div>
                    </div>
                    <div class="info-seccion tipo-carrera">
                        <div class="etiqueta" th:text="#{tipoCarr}">Tipo de carrera</div>
                        <div th:if="${carrera1.bilingue}" th:text="#{CarrBilingue}">Carrera Bilingüe</div>
                        <div th:if="${!carrera1.bilingue}" th:text="#{CarrNoBilingue}">Carrera No Bilingüe</div>
                    </div>
                    <div class="info-seccion direccion">
                        <div class="etiqueta" th:text="#{direcCarr}" >Dirección:</div>
                        <div th:text="${carrera1.universidad.direccion}">Dirección de la Universidad</div>
                    </div>
                    <div class="info-seccion mapa">
                        <input type="hidden" id="direccion" th:value="${carrera1.universidad.direccionGoogle}" />
                        <iframe id="googleMap" width="100%" height="300" style="border:none;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="tarjeta-botones">
                        <a th:href="@{/carreras/carrera/{id}(id=${carrera1.id_carrera}, lang=${usuario.lang})}"
                            class="ver-mas" th:text="#{verMas}">
                            Ver más
                        </a>
                        <a th:href="@{/carreras/all/{id}(id=${carrera1.id_carrera}, lang=${usuario.lang})}"
                            class="comparar" th:text="#{compararConOCarr}">Comparar con otra carrera</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="carrera-columna">
            <div class="tarjeta dark:bg-gray-800 dark:text-white dark:shadow-none">
                <div class="imagen-uni bg-white">
                    <img th:src="@{'/img/' + ${carrera2.universidad.nombre_abreviado} + '/logo.jpg'}"
                        alt="Logo Universidad" />
                </div>
                <div class="tarjeta-contenido">
                    <div class="info-seccion nombre-carrera">
                        <h2 th:text="${carrera2.nombre}">Nombre de la Carrera</h2>
                    </div>
                    <div class="info-seccion universidad">
                        <div th:text="${carrera2.universidad.nombre_completo}">Nombre de la Universidad</div>
                    </div>
                    <div class="info-seccion descripcion">
                        <div th:text="${carrera2.desc_breve}">Descripción breve</div>
                    </div>
                    <div class="info-seccion horarios">
                        <div class="etiqueta" th:text="#{horarios}">Horarios</div>
                        <div th:utext="${carrera2.horario_especifico}" class="dark:text-white">Horario específico</div>
                    </div>
                    <div class="info-seccion modalidad">
                        <div class="etiqueta" th:text="#{modalidad}">Modalidad</div>
                        <div th:text="${carrera2.modalidad.nombre_modalidad}">Modalidad</div>
                    </div>
                    <div class="info-seccion periodos">
                        <div class="etiqueta" th:text="#{ttlPeriodosEscolares}">Total de periodos escolares</div>
                        <div
                            th:text="${carrera2.cantidad_periodos} + ' ' + ${carrera2.periodoEscolar.nombre_periodo} + 's'">
                            Periodos escolares</div>
                    </div>
                    <div class="info-seccion costo">
                        <div class="etiqueta"><span th:text="#{costopor}"> Costo por </span> <span
                                th:text="${carrera2.periodoEscolar.nombre_periodo}"></span></div>
                        <div th:text="${carrera2.costo} + '0$'">Costo</div>
                    </div>
                    <div class="info-seccion area">
                        <div class="etiqueta" th:text="#{areaTag}">Área</div>
                        <div th:text="${carrera2.area.nombre_area}">Área de estudio</div>
                    </div>
                    <div class="info-seccion porque-estudiar">
                        <div class="etiqueta" th:text="#{porqueestuidarestacarr}">¿Por qué estudiar esta carrera?</div>
                        <div th:text="${carrera2.porque_estudiar}">Razones para estudiar</div>
                    </div>
                    <div class="info-seccion desempenio">
                        <div class="etiqueta" th:text="#{comoDes}">¿Cómo me puedo desempeñar?</div>
                        <div>
                            <ul th:utext="${carrera2.como_desemp}"></ul>
                        </div>
                    </div>
                    <div class="info-seccion tipo-carrera">
                        <div class="etiqueta" th:text="#{tipoCarr}">Tipo de carrera</div>
                        <div th:if="${carrera2.bilingue}" th:text="#{CarrBilingue}">Carrera Bilingüe</div>
                        <div th:if="${!carrera2.bilingue}" th:text="#{CarrNoBilingue}">Carrera No Bilingüe</div>
                    </div>
                    <div class="info-seccion direccion">
                        <div class="etiqueta" th:text="#{direcCarr}">Dirección:</div>
                        <div th:text="${carrera2.universidad.direccion}">Dirección de la Universidad</div>
                    </div>
                    <div class="info-seccion mapa">
                        <input type="hidden" id="direccion2" th:value="${carrera2.universidad.direccionGoogle}" />
                        <iframe id="googleMap2" width="100%" height="300" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="tarjeta-botones">
                        <a th:href="@{/carreras/carrera/{id}(id=${carrera2.id_carrera}, lang=${usuario.lang})}"
                            class="ver-mas" th:text="#{verMas}">
                            Ver más
                        </a>
                        <a th:href="@{/carreras/all/{id}(id=${carrera2.id_carrera}, lang=${usuario.lang})}"
                            class="comparar" th:text="#{compararConOCarr}">Comparar con otra carrera</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <center>
        <footer class="footer">
            <div class="footer-logo">
                <img src="/css/LogoLogoPathFinderVertical.svg" alt="">
            </div>
            <div class="footer-section">
                <h3 th:text="#{servicio}"></h3>
                <a href="#" th:text="#{nuestroTrabajo}"></a>
                <a href="#" th:text="#{centroAyuda}"></a>
                <a href="#" th:text="#{faqs}"></a>
            </div>
            <div class="footer-section">
                <h3 th:text="#{contacto}"></h3>
                <p>contacto@pathfinder.com</p>
                <p th:text="#{sobreNosotros}"></p>
                <p>614 785 6594</p>
            </div>
            <div class="footer-section">
                <h3 th:text="#{direccion}"></h3>
                <p>Av. Montes Americanos #9501, Col.</p>
                <p>Sector 35, C.P. 31216, Chihuahua,</p>
                <p>Chih., México.</p>
            </div>
            <div class="footer-bottom">
                <div class="footer-links">
                    <a>&copy; 2024 PathFinder</a>
                    <a href="#" th:text="#{terminos}"></a>
                    <a href="#" th:text="#{politica}"></a>
                </div>
                <div class="social-icons">

                    <a href="#" title="Facebook"><img src="/css/assets/facebook.svg" alt=""></a>
                    <a href="#" title="X"><img src="/css/assets/x.svg" alt=""></a>
                    <a href="#" title="Instagram"><img src="/css/assets/instagram.svg" alt=""></a>
                    <a href="#" title="LinkedIn"><img src="/css/assets/linkedin.svg" alt=""></a>
                </div>
            </div>
        </footer>
    </center>

    <script>
        var direccionGoogle = document.getElementById('direccion').value;
        document.getElementById('googleMap').src = direccionGoogle;

        var direccionGoogle2 = document.getElementById('direccion2').value;
        document.getElementById('googleMap2').src = direccionGoogle2;

        window.addEventListener('load', function () {
            const secciones = document.querySelectorAll('.info-seccion');
            secciones.forEach(seccion => {
                const clase = seccion.classList[1];
                const seccionesIguales = document.querySelectorAll(`.${clase}`);
                let maxAltura = 0;
                seccionesIguales.forEach(s => {
                    s.style.height = 'auto';
                    maxAltura = Math.max(maxAltura, s.offsetHeight);
                });
                seccionesIguales.forEach(s => {
                    s.style.height = `${maxAltura}px`;
                });
            });
        });
    </script>
</body>

</html>