/* Global Variables */
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');


:root {
    --primary-color: #0047FF;
    --secondary-color: #9590ff;
    --text-gradient: linear-gradient(50deg, #0047ff, #9590ff, #6abaa4, #0047ff, #9590ff, #6abaa4);
    --header-bg: rgba(0, 0, 0, 0.329);
    --header-border: #ffffff72;
    --nav-hover-bg: rgba(255, 255, 255, 0.2);
    --card-border: #B9B9B9;
    --card-shadow: #b9b9b993;
}

/* General Styles */
body {
    margin: 0;
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}


/* Text Gradient Animation */
.text-gradient {
    background-image: var(--text-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientAnimation 6s linear infinite;
    background-size: 300% 100%;
    filter: saturate(2);
}

@keyframes gradientAnimation {
    0%, 100% { background-position: 0; }
    100% { background-position: 100%; }
}




/* Background Animation */
.principal-text {
    display: flex;
    padding: 0 10vw;
    flex-direction: column-reverse;
    height: fit-content;
    width: 100%;
    background:
        radial-gradient(at 18% 99%, #0047FF 0, transparent 50%),
        radial-gradient(at 97% 8%, #6ABAA4 0, transparent 50%),
        radial-gradient(at 79% 82%, #6ABAA4 0, transparent 50%),
        radial-gradient(at 96% 10%, #0047FF 0, transparent 50%),
        radial-gradient(at 42% 20%, #9590FF 0, transparent 50%),
        radial-gradient(at 4% 49%, #9590FF 0, transparent 50%),
        radial-gradient(at 57% 33%, rgb(218, 83, 228) 0, #a299ff 50%);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientShift 10s infinite;
    filter: saturate(2);
}

@keyframes gradientShift {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.dark .principal-text{
    background:
    radial-gradient(at 18% 99%, #0038CC 0, transparent 50%),
    radial-gradient(at 97% 8%, #4A8C76 0, transparent 50%),
    radial-gradient(at 79% 82%, #4A8C76 0, transparent 50%),
    radial-gradient(at 96% 10%, #0038CC 0, transparent 50%),
    radial-gradient(at 42% 20%, #7370CC 0, transparent 50%),
    radial-gradient(at 4% 49%, #7370CC 0, transparent 50%),
    radial-gradient(at 57% 33%, rgb(174, 66, 182) 0, #8073CC 50%);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientShift 10s infinite;
    filter: saturate(2);
}






/* #region Header */
.header {
    position: fixed;
    height: 6rem;
    top: 1rem;
    left: 10vw;
    right: 10vw;
    background-color: var(--header-bg);
    backdrop-filter: blur(25px);
    padding: 1rem 2rem;
    z-index: 10;
    border-radius: 1rem;
    border: var(--header-border) solid 2px;
    box-shadow: 0 0 35px #00000018;
    transition: width 0.5s cubic-bezier(0.25, 1.5, 0.5, 1), 0.3s ease-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navbar-logo, .navbar-links {
    display: flex;
    align-items: center;
}

.navbar-logo {
    justify-content: right;
}

.navbar-links {
    justify-content: right;
}

.navbar-logo hr, .navbar-links hr {
    height: 2rem;
    margin: 0 1rem;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.517);
}

#navbar-logo {
    height: 3rem;
    margin-right: 1rem;
    filter: invert(1) brightness(100);
}

.link {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    font-weight: 700;
    color: white;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

.navbar a {
    text-decoration: none;
}

.link:hover {
    padding: .8rem;
    border-radius: 2rem;
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.244);
    cursor: pointer;
}

.link:active {
    scale: .9;
}

#profile-icon {
    scale: 1.2;
    border-radius: 50rem;
    object-fit: cover;
}

.link-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}


.result-name {
    flex-grow: 1;
}

.result-type {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

.type-carrera {
    background-color: #e6f3ff;
    color: #0066cc;
}

.type-area {
    background-color: #e6ffe6;
    color: #006600;
}

.type-universidad {
    background-color: #fff0e6;
    color: #cc6600;
}

/* Estilos para modo oscuro */
.dark .type-carrera {
    background-color: #004080;
    color: #ffffff;
}

.dark .type-area {
    background-color: #004d00;
    color: #ffffff;
}

.dark .type-universidad {
    background-color: #804000;
    color: #ffffff;
}

.dark .result-name {
    color: white;
}

.navbar input {
    width: 20rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.236);
    color: white;
    border: var(--header-border) solid 2px;
    border-radius: 1rem;
    padding: .5rem 2rem;
    font-size: 1rem;
    transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1);
    outline: none;
}


.form-input i {
    color: var(--header-border);
}

.form-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 600px;
    height: fit-content;
    transition: all 0.5s ease-out;
}

.input-icon {
    position: absolute;
    top: 57%; /* Cambia el valor a 60% para mover el icono más hacia abajo */
    transform: translateY(-50%);
    left: .8rem;
    font-size: 1.2rem; /* Ajusta el tamaño del icono si es necesario */
    pointer-events: none; /* Permite hacer clic a través del icono */
    line-height: 1; /* Asegura que el icono no tenga espacio extra alrededor */
}

#search-bar::placeholder {
    color: var(--header-border);
    font-weight: 600;
}

#search-bar:focus {
    width: 30rem;
}



/* Estilizar la barra de desplazamiento */
#results::-webkit-scrollbar {
    width: 8px;
}

#results::-webkit-scrollbar-track {
    background: rgba(117, 117, 117, 0.067);
    border-radius: 4px;
}

#results::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#results::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#results{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: .5rem;
    border: var(--card-border) solid 2px;
    border-radius: 1rem;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: 600;
    box-shadow: 0 0 35px #00000018;
}

.show-results {
    display: block;
    padding: 1rem 2rem;
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

#results a:hover{
    color: white;
    background-color: var(--primary-color);
    scale: 1.05;
}

#results a:active{
    scale: .95;
    border-radius: 1rem;
}

#results a:hover .result-name{
    color: white;
}


/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
}

select {
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none; /* Desactiva el borde */
    outline: none;
}
/* #endregion */


/* Main Content */
h1 {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
    margin-top: 10rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    padding: 3rem 10vw;
}

.principal-content {
    position: relative;
    display: flex;
    justify-content: space-between; /* Changed from stretch to flex-start */
    width: 100%;
    height: auto;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

.tarjeta {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: var(--card-border) solid 2px;
    box-shadow: 0 0 35px var(--card-shadow);
    background-color: white;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
    overflow: hidden;
}

.tarjeta:hover {
    border: #0047FF solid 2px;
}

.texto-boton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

.imagen-tarjeta{
    height: 100%;
    width: 20%;
    overflow: hidden;
}

.imagen-tarjeta img {
    position: absolute;
    height: 10rem;
    width: 10rem; /* Ajusta este valor según necesites */
    object-fit: cover;
    object-position: left center;
    transform: rotate(-15deg) translateX(25%) translateY(11%); /* Ajusta estos valores según necesites */
}

.tarjeta a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 50rem;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

.tarjeta p {
    margin-bottom: 1rem;
}

.tarjeta a:hover {
    scale: 1.1;
    box-shadow: 0 0 35px var(--card-shadow);
}

.tarjeta a:active {
    scale: 0.9;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    justify-content: left;
}

h2 span {
    font-weight: 900;
}


.populares {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: var(--card-border) solid 2px;
    box-shadow: 0 0 35px var(--card-shadow);
    background-color: white;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.5);
    overflow: hidden;
}

.populares h2 {
    margin-bottom: 1rem;
}

.populares ul {
    z-index: 2;
    overflow-y: auto;
    flex-grow: 1;
}

.populares li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    background-color: #7a7a7a14;
    backdrop-filter: blur(15px);
    margin-bottom: 1rem;
    transition: all 0.2s ease-out;
    font-weight: 600;
}

.populares li a:hover  {
    border: 2px solid #0047FF;
}

.populares li a:active  {
    scale: .95;
}

#popular-tag {
    font-weight: 900;
}

.populares img {
    position: absolute;
    z-index: 1;
    bottom: -3rem;
    left: 13rem;
    width: 25rem;
    height: auto;
    opacity: 0.5;
    pointer-events: none;
    overflow: hidden;
}


/* Favoritos */
.favoritos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: var(--card-border) solid 2px;
    box-shadow: 0 0 35px var(--card-shadow);
    background-color: white;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

.titulo-favoritos h2, .titulo-favoritos i {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    vertical-align: top;
}

.favoritos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    max-height: calc(2 * (15rem + 1rem)); /* Dos filas de tarjetas más el gap */
    overflow-y: auto;
    padding: 1rem;
    padding-right: 0.5rem; /* Compensar el ancho de la barra de desplazamiento */
    list-style-type: none; /* Eliminar los puntos de la lista */
    overflow-x: hidden;
}

.favoritos-grid li {
    height: 15rem;
    border-radius: 1rem;
    border: var(--card-border) 2px solid;
    background-color: white;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

.favoritos-grid li:hover {
    border: var(--primary-color) 2px solid;
    box-shadow: 0 0 15px var(--card-shadow);
    scale: 1.05;
}

.favoritos-grid li:active {
    scale: .95;
}

.favoritos-grid a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}


.titulo-favorito {
    font-size: 125%;
    font-weight: 700;
    color: var(--primary-color);
}

#favorito i {
    color: transparent;
}

#favorito {
    align-self: flex-start;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
}

/* Estilizar la barra de desplazamiento */
.favoritos-grid::-webkit-scrollbar {
    width: 8px;
}

.favoritos-grid::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.favoritos-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.favoritos-grid::-webkit-scrollbar-thumb:hover {
    background: #555;
}





/* Footer */
.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    padding: 0 2.5vw;
}

.footer-logo > img {
    filter: invert(1);
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: white;
}

.footer-section p, .footer-section a {
    margin: 0.25rem 0;
    color: white;
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #ffffff;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 700;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
    margin-left: 0.5rem;
}

.social-icons a {
    fill: white;
    text-decoration: none;
    margin-left: 0.5rem;
}


/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .header {
        left: 5vw;
        right: 5vw;
    }

    .principal-content {
        flex-direction: column;
    }

    .tarjetas, .populares {
        width: 100%;
    }

    .populares {
        margin-top: 2rem;
        position: static;
    }
}

@media (max-width: 992px) {
    .header {
        left: 2vw;
        right: 2vw;
        padding: 1rem;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links.active {
        display: flex;
    }

    .link {
        margin: 0.5rem 0;
    }

    .principal-text {
        height: 40vh;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .tarjeta {
        flex-direction: column;
        height: auto;
    }

    .imagen-tarjeta {
        width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
    }

    .imagen-tarjeta img {
        transform: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .texto-boton {
        width: 100%;
    }

    .favoritos-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .main-content {
        padding: 2rem 5vw;
    }

    input {
        width: 100%;
    }

    .tarjeta a {
        width: 100%;
    }

    .footer {
        padding: 2rem 5vw;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links {
        margin-bottom: 1rem;
    }

    .social-icons {
        justify-content: flex-start;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .principal-text {
        height: 50vh;
    }

    .favoritos-grid {
        grid-template-columns: 1fr;
    }

    .favoritos-grid li {
        height: auto;
    }

    .footer-logo > img {
        width: 100%;
        max-width: 200px;
    }
}