/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

::-webkit-scrollbar {
    display: none;
}

/* Variables globales */
:root {
    --border-thick: 2px;
    --border-radius: 1vw;
    --border-color-white: white;
    --global-padding: 10px 0px;
    --principal-title-weight: 900;
    --principal-title-size: 4em;
    --principal-subtitle-weight: 600;
    --principal-subtitle-size: 2em;
    --paragraph-margin: 1%;
}

/* Estilos generales */
* {
    font-size: 1vw;
}

body {
    user-select: none;
    padding: var(--global-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Fondo con gradiente */
.malla {
    background:
        radial-gradient(at 18% 99%, #0047FF 0, transparent 50%),
        radial-gradient(at 97% 8%, #6ABAA4 0, transparent 50%),
        radial-gradient(at 79% 82%, #6ABAA4 0, transparent 50%),
        radial-gradient(at 96% 10%, #0047FF 0, transparent 50%),
        radial-gradient(at 42% 20%, #9590FF 0, transparent 50%),
        radial-gradient(at 4% 49%, #9590FF 0, transparent 50%),
        radial-gradient(at 57% 33%, rgb(218, 83, 228) 0, #a299ff 50%);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientShift 10s infinite;
}

@keyframes gradientShift {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

/* Header y navegación */
.header {
    position: fixed;
    height: 5rem;
    top: 1rem;
    left: 10vw;
    right: 10vw;
    background-color: var(--header-bg);
    backdrop-filter: blur(25px);
    padding: 1rem 2rem;
    z-index: 1000;
    border-radius: 1rem;
    border: var(--header-border) solid 2px;
    box-shadow: 0 0 35px #00000018;
    transition: height 0.5s cubic-bezier(0.25, 1.5, 0.5, 1);
    overflow: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navbar-logo {
    width: 25%;
    display: flex;
    align-items: center;
}

.navbar-logo hr {
    height: 2rem;
    margin: 0 1rem;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.517);
}

#navbar-logo {
    height: 3rem;
    margin-right: 1rem;
    filter: invert(1);
    filter: brightness(100);
}

.navbar-links {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar-links hr {
    height: 2rem;
    margin: 0 1rem;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.517);
}

.link{
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    font-weight: 700;
    color: white;
}

.link:hover{
    padding: .8rem;
    border-radius: 2rem;
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.244);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);


}

.link:active{
    scale: .9;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

.link:not(:hover){
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);


}

#link-register {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    font-weight: 700;
    filter: saturate(3);
    color: var(--primary-color);
}

#link-register:hover {
    padding: .8rem;
    border-radius: 2rem;
    scale: 1.1;
    background-color: rgba(255, 255, 255, 0.619);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

#link-register:not(:hover) {
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

#link-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

/* Estilos para el menú hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

/* Animación para el menú hamburguesa */
.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
}

/* Media query para tablets y móviles */
@media (max-width: 1140px) {
    .header {
        align-items: center;
        height: fit-content;
    }

    .header.expanded {
        height: fit-content;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .hamburger-menu {
        display: flex;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .navbar-links {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: none;
    }

    .navbar-links * {
        margin: 0.25rem;
    }

    .header.expanded .navbar-links {
        opacity: 1;
        display: flex;
    }

    .navbar-links a {
        margin: 0.5rem 0;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar-logo hr, .navbar-links hr {
        display: none;
    }
}

/* Estilos de la tarjeta principal */
.tarjeta {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    height: 80vh;
    width: 85vw;
    background-image: linear-gradient(90deg, #fff 50%, #ffffff4f 50%);
    border: var(--border-thick) solid #ffffff;
    border-radius: var(--border-radius);
    box-shadow: 0 0 35px #00000018;
}

#logo-image,
#sign-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

#logo-image {
    padding-top: 5%;
}

/* Estilos de títulos */
#welcome-title,
#sign-in-title {
    width: 100%;
    color: #fff;
    margin: 0;
}

#welcome-title {
    font-weight: var(--principal-title-weight);
    font-size: var(--principal-title-size);
    padding-bottom: 5vh;
}

#sign-in-title {
    font-weight: var(--principal-subtitle-weight);
    font-size: var(--principal-subtitle-size);
}

/* Estilos de formulario */
form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: left;
    position: relative;
}

.input {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.117);
    width: 20vw;
    height: 1.5vw;
    border: 3px solid transparent;
    border-radius: var(--border-radius);
    background: #fff;
    padding: 2vh 1vw 2vh 3vw;
    font-size: 1.2em;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #0047FF;
    outline: none;
}

#login-input-icon {
    position: absolute;
    left: 5%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #7E7E7E;
    scale: 1.5;
}

/* Estilos de botones */
.btn {
    height: 3.5vw;
    border-radius: var(--border-radius);
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(#2865ff, #0047FF);
    color: white;
    box-shadow: inset 0 4pt 3pt -2pt #386fff, 0 4pt 5pt -3pt #0009;
    border-bottom: 2pt solid #0031AE;
    transition: all 0.5s ease;
}

.btn-primary:hover {
    border-bottom: 5pt solid #0031AE;
    translate: 0 -5pt;
}

.btn-primary:active {
    box-shadow: inset 0 4pt 3pt -2pt #386fff;
    border-bottom: 0;
    transform: scale(.95);
}

.btn-txt {
    font-size: 1.2em;
    color: #fff;
}

/* Estilos adicionales */

#error {
    color: #0011ff;
    position: absolute;
    transform: translate(-50%, -70%);
    font-weight: 700;
}

.create-account-message-login {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#create-account-message-login {
    color: #ffffff;
}