/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

::-webkit-scrollbar {
    display: none;
}

/* Variables globales */
:root {
    --primary-color: #0047FF;
    --text-gradient: linear-gradient(50deg, #0047ff, #9590ff, #6abaa4, #0047ff, #9590ff, #6abaa4);
    --header-bg: #00000054;
    --header-border: #ffffff72;
    --nav-hover-bg: rgba(255, 255, 255, 0.2);
    --card-border: #B9B9B9;
    --card-shadow: #b9b9b993;
    --principal-title-weight: 900;
    --principal-title-size: 4rem;
    --principal-subtitle-weight: 600;
    --principal-subtitle-size: 2rem;
}

/* General Styles */
body {
    margin: 0;
    width: 100%;
    height: fit-content;
    overflow-y: hidden;

}

/* Fondo con gradiente */
.malla {
    background:
        radial-gradient(at 18% 99%, #0047FF 0, transparent 50%),
        radial-gradient(at 97% 8%, #6ABAA4 0, transparent 50%),
        radial-gradient(at 79% 82%, #6ABAA4 0, transparent 50%),
        radial-gradient(at 96% 10%, #0047FF 0, transparent 50%),
        radial-gradient(at 42% 20%, #9590FF 0, transparent 50%),
        radial-gradient(at 4% 49%, #9590FF 0, transparent 50%),
        radial-gradient(at 57% 33%, rgb(218, 83, 228) 0, #a299ff 50%);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientShift 10s infinite;
    filter: saturate(2);
}

@keyframes gradientShift {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

/* Header and Navigation */
.header {
    position: fixed;
    height: 6rem;
    top: 1rem;
    left: 10vw;
    right: 10vw;
    background-color: var(--header-bg);
    backdrop-filter: blur(25px);
    padding: 1rem 2rem;
    z-index: 10;
    border-radius: 1rem;
    border: var(--header-border) solid 2px;
    box-shadow: 0 0 35px #00000018;
    transition: width 0.5s cubic-bezier(0.25, 1.5, 0.5, 1), 0.3s ease-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navbar-logo, .navbar-links {
    display: flex;
    align-items: center;
}

.navbar-logo {
    justify-content: right;
}

.navbar-links {
    justify-content: right;
}

.navbar-logo hr, .navbar-links hr {
    height: 2rem;
    margin: 0 1rem;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.517);
}

#navbar-logo {
    height: 3rem;
    margin-right: 1rem;
    filter: invert(1) brightness(100);
}

.link {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    font-weight: 700;
    color: white;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

.navbar a {
    text-decoration: none;
}

.link:hover {
    padding: .8rem;
    border-radius: 2rem;
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.244);
    cursor: pointer;
}

.link:active {
    scale: .9;
}

#profile-icon {
    scale: 1.2;
    border-radius: 50rem;
    object-fit: cover;
}

#link-register {
    filter: saturate(3);
    color: var(--primary-color);
}

#link-register:hover {
    background-color: rgba(255, 255, 255, 0.619);
}

.link-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
}

select {
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none; /* Desactiva el borde */
    outline: none;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding: 3rem 10vw;
}

#mensaje-de-Error {
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Modificaciones y adiciones para hacer la tarjeta responsiva */
.tarjeta {
    display: flex;
    object-fit: fill;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80rem;
    max-height: 80vh;
    min-height: 500px;
    margin-top: 75px;
    background-image: linear-gradient(90deg, #ffffff 50%, #ffffff54 50%);
    border-radius: 1rem;
    box-shadow: 0 0 15px #0000001e;
    border: white solid 2px;
    transition: all 0.3s ease; /* Agregamos transición para suavizar los cambios */
}

.login-image, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 5rem;
    transition: all 0.3s ease; /* Agregamos transición para suavizar los cambios */
}

.login-image img:first-child{
    height: 15%;
}

.login-image img:last-child{
    height: 85%;
    scale: 1.5;
}

.login-image, .login-form > *{
    margin: .5rem;
}

#welcome-title, #sign-in-title {
    width: 100%;
    color: #fff;
}

#welcome-title {
    font-weight: var(--principal-title-weight);
    font-size: var(--principal-title-size);
}

#sign-in-title {
    font-weight: var(--principal-subtitle-weight);
    font-size: var(--principal-subtitle-size);
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form > * {
    margin: .5rem;
}

.form-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: fit-content;
}

.input-icon {
    position: absolute;
    align-items: center;
    left: .7rem;
    pointer-events: none; /* Permite hacer clic a través del icono */
    font-size: 1.5rem;
    line-height: 0;
}

i, ::placeholder{
    color: #7E7E7E;
}

input:focus{
    border-color: #0047FF;
}


input{
    box-shadow: 0 0 15px #0000001e;
    width: 100%;
    height: 4rem;
    border-radius: 1.3rem;
    background: #fff;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.2rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

/* Button Styles */
.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 600px;
    height: 4rem;
    border-radius: 1.3rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(#2865ff, #0047FF);
    color: white;
    box-shadow: inset 0 4pt 3pt -2pt #386fff, 0 4pt 5pt -3pt #0009;
    border-bottom: 2pt solid #0031AE;
    transition: all 0.5s ease;
}

.btn-primary:hover {
    border-bottom: 5pt solid #0031AE;
    translate: 0 -5pt;
}

.btn-primary:active {
    box-shadow: inset 0 4pt 3pt -2pt #386fff, 0 4pt 5pt -3pt #0000;
    border-bottom: 0 solid #0031AE;
    transform: scale(.95);
}

.btn-base {
    background: #386fff;
}

.btn-txt {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
}

#create-account-message-login * {
    color: #fff;
}

#create-account-message-login a {
    text-decoration: underline;
}


/* Media query para tablets */
@media screen and (max-width: 1200px) {
    .tarjeta {
        flex-direction: column;
        width: 90vw;
        height: auto;
        min-height: 450px;
        background-image: none;
        background-color: #ffffff54;
    }

    .login-image {
        display: none; /* Ocultamos la imagen en tamaño tablet */
    }

    .login-form {
        width: 100%;
        padding: clamp(60px, 5rem, 100px);
    }

    #welcome-title {
        font-size: calc(var(--principal-title-size) * 0.8); /* Reducimos el tamaño del título */
    }

    #sign-in-title {
        font-size: calc(var(--principal-subtitle-size) * 0.9); /* Reducimos el tamaño del subtítulo */
    }

    input, .btn {
        height: 4rem; /* Reducimos la altura de los inputs y botones */
        font-size: 1.2rem; /* Reducimos el tamaño de fuente */
    }

    .input-icon {
        font-size: 1.5rem; /* Reducimos el tamaño del icono */
    }
}

/* Media query para móviles */
@media screen and (max-width: 480px) {
    .tarjeta {
        width: 100vw;
        min-height: 450px;
    }

    .login-form {
        padding: 2rem;
    }

    #welcome-title {
        font-size: calc(var(--principal-title-size) * 0.6);
    }

    #sign-in-title {
        font-size: calc(var(--principal-subtitle-size) * 0.8);
    }

    input {
        height: 3.5rem;
        font-size: 1rem;
        padding: 1rem 1rem 1rem 2.5rem;
    }

    .btn {
        height: 3.5rem;
        font-size: 1rem;
    }

    .btn-txt {
        font-size: 1rem;
    }

    .input-icon {
        font-size: 1.3rem;
    }
}

/* Media Queries */
@media (max-width: 1000px) {
    .header {
        left: 2vw;
        right: 2vw;
        padding: 1rem 2rem;
        align-items: center;
        transition: 0.5s ease-out;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .hamburger-menu {
        display: flex;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .navbar-links {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: none;
    }

    .navbar-links * {
        margin: 0.25rem;
    }

    .header.expanded .navbar-links {
        opacity: 1;
        display: flex;
    }

    .navbar-links a {
        margin: 0.5rem 0;
    }

    .navbar-logo hr, .navbar-links hr {
        display: none;
    }
}