<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <title th:text="#{tituloPerfil}">PathFinder | Perfil</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/validaciones.css">
    <link rel="stylesheet" href="css/global_font.css">
    <link rel="stylesheet" href="/css/motorbusqueda.css">
    <link rel="stylesheet" href="/css/buscador.css">
    <script src="/js/navbar.js"></script>
    <script src="/js/utils.js"></script>
</head>

<body class="dark:bg-gray-800" th:data-lang="${usuario.lang}">
    <div id="translations" 
            th:attr="data-carrera=#{carreraTag},
                    data-area=#{areaTag},
                    data-universidad=#{universidadTag}" 
            style="display: none;">
        </div>
        <header class="header">
            <nav class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/}">
                        <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                    </a>
                    <hr>

                    <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                    <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                    <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
                </div>

                <div class="navbar-links" id="navbarLinks">

                    <div class="form-input ">
                        <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                        <div id="searchForm">
                            <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}" autocomplete="off">
                            <div id="results" class="bg-white dark:text-white dark:bg-gray-800 hidden">
                            </div>
                        </div>
                    </div>
                    <script src="/js/motorBusqueda.js"></script>

                    <hr>
                    <a th:href="@{/logout}" style="display: yes;">
                        <div class="link"><img src="/css/assets/navbaricons/exit1.png" alt="" class="link-icon"
                                th:text="#{cerrarSesion}"></div>
                    </a>
                </div>

            </nav>
        </header>

        <div class="title-gradient">
            <h1 th:text="#{infoPerfil}">Resultado</h1>
        </div>

    <!-- informacion del usuario-->

    <div id="alert-success" th:if="${param.exito}" class="alert alert-success" role="alert">
        <h3 th:text="#{actualizadoExito}">¡Actualizado con éxito!</h3>
        <p th:text="#{actualizadoExitoLargo}">La información ha sido actualizada con éxito.</p>
    </div>
    
    <div id="alert-error" th:if="${msj} != null" class="alert alert-error" role="alert">
        <h3 th:text="#{errorActualizacion}">Error al actualizar</h3>
        <p th:text="${msj}">Mensaje de error</p>
    </div>

    <div class="profile-container">
        <div class="profile-sidebar">
            <div class="profile-image-container">
                <a th:href="@{/configuracion/selectphoto?lang=}+${usuario.lang}">
                    <img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="Foto de perfil" class="profile-image">
                    <div class="edit-overlay">
                        <span th:text="#{editarFotoPerfil}">Editar</span>
                    </div>
                </a>
            </div>
            <h2 th:text="${usuario.nombre} + ' ' + ${usuario.apellidoP}">Nombre usuario</h2>
            <p th:text="${usuario.email}">email</p>
        </div>

        <div class="profile-content">
            <form id="myForm1" th:action="@{/configuracion/actualizar}" method="post" class="profile-form">
                <h2 th:text="#{actualizarInfoPerfil}">Actualizar información del perfil</h2>
                
                <div class="form-group">
                    <label for="newNombre" th:text="#{nombre}">Nombre:</label>
                    <input type="text" id="newNombre" name="newNombre" th:value="${usuario.nombre}">
                    <div id="nuevoNombreError" class="validationErrors" style="display: none;"></div>
                </div>

                <div class="form-group">
                    <label for="newApellidoP" th:text="#{apellido}">Apellido Paterno:</label>
                    <input type="text" id="newApellidoP" name="newApellidoP" th:value="${usuario.apellidoP}">
                    <div id="nuevoApellidoError" class="validationErrors" style="display: none;"></div>
                </div>

                <button type="submit" class="btn-primary" th:text="#{actualizarPerfil}">Actualizar Perfil</button>
            </form>

            <form id="myForm2" th:action="@{/configuracion/actualizarEmail}" method="post" class="profile-form">
                <h2 th:text="#{actualizarCorreo}">Actualizar correo electrónico</h2>
                
                <div class="form-group">
                    <label for="newCorreo" th:text="#{nuevoCorreo}">Nuevo correo electrónico:</label>
                    <input type="text" id="newCorreo" name="newCorreo" th:value="${usuario.email}">
                    <div id="correoError" class="validationErrors" style="display: none;"></div>
                </div>

                <div class="form-group">
                    <label for="newConfirmacionCorreo" th:text="#{confirmaCorreo}">Confirma correo electrónico:</label>
                    <input type="text" id="newConfirmacionCorreo" name="newConfirmacionCorreo" th:value="${usuario.email}">
                    <div id="confirmacionCorreoError" class="validationErrors" style="display: none;"></div>
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{ingresaContra}">Ingresa tu contraseña:</label>
                    <input type="password" id="password" name="password">
                    <div id="passwordError" class="validationErrors" style="display: none;"></div>
                </div>

                <button type="submit" class="btn-primary" th:text="#{actualizarCorreo}">Actualizar Correo Electrónico</button>
            </form>

            <form id="myForm3" th:action="@{/configuracion/actualizarPassword}" method="post" class="profile-form">
                <h2 th:text="#{actualizarContra}">Actualizar contraseña</h2>
                
                <div class="form-group">
                    <label for="newPass" th:text="#{nuevaContra}">Nueva contraseña:</label>
                    <input type="password" id="newPass" name="newPass">
                    <div id="newPassError" class="validationErrors" style="display: none;"></div>
                </div>

                <div class="form-group">
                    <label for="confNewPass" th:text="#{confirmaContraNueva}">Confirma la nueva contraseña:</label>
                    <input type="password" id="confNewPass" name="confNewPass">
                    <div id="confNewPassError" class="validationErrors" style="display: none;"></div>
                </div>

                <div class="form-group">
                    <label for="oldPass" th:text="#{contraActual}">Contraseña actual:</label>
                    <input type="password" id="oldPass" name="oldPass">
                    <div id="oldPassError" class="validationErrors" style="display: none;"></div>
                </div>

                <button type="submit" class="btn-primary" th:text="#{actualizarContra}">Actualizar Contraseña</button>
            </form>

            <form id="darkModeForm" th:action="@{/configuracion/cambiarDarkMode}" method="post" class="profile-form">
                <h2 th:text="#{modoOscuro}">Modo oscuro</h2>
                <p th:text="#{ajusteVista}">Ajusta el aspecto de PathFinder para reducir el reflejo y dar un descanso a la vista.</p>
                <div class="toggle-switch">
                    <input type="checkbox" id="toggle-dark-mode" name="miCheckbox" th:checked="${usuario.darkmode}">
                    <label for="toggle-dark-mode"></label>
                </div>
            </form>
            
            <form id="languageForm" th:action="@{/configuracion/cambiaridioma}" method="post" class="profile-form">
                <h2 th:text="#{idioma}">Cambio de Idioma</h2>
                <p th:text="#{cambioIdioma}">Elija el idioma en el que desea navegar por nuestro sitio web para una mejor experiencia.</p>
                <div class="contenedor-carreras">
<select id="idioma" name="idioma">
                    <option selected th:text="#{idioma}">Lenguaje</option>
                    <option value="es">Español</option>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                </select>
                </div>
                
            </form>
        </div>
    </div>

    <script src="/js/modoOscuro.js"></script>
    <script src="/js/seleccionarIdioma.js"></script>
    <script src="/js/NombrePerfilValidacion.js"></script>
    <script src="/js/CorreoPerfilValidacion.js"></script>
    <script src="/js/ContraseñaPerfilValidacion.js"></script>
    <script>
        // JavaScript para enviar el formulario de modo oscuro automáticamente
        document.getElementById('toggle-dark-mode').addEventListener('change', function() {
            document.getElementById('darkModeForm').submit();
        });
        
        // JavaScript para enviar el formulario de cambio de idioma automáticamente
        document.getElementById('idioma').addEventListener('change', function() {
            document.getElementById('languageForm').submit();
        });

        document.addEventListener('DOMContentLoaded', function() {
        const alertSuccess = document.getElementById('alert-success');
        const alertError = document.getElementById('alert-error');

        function hideAlert(alert) {
            if (alert) {
                setTimeout(() => {
                    alert.style.opacity = '0';
                    setTimeout(() => {
                        alert.style.display = 'none';
                    }, 600);
                }, 5000);
            }
        }

        hideAlert(alertSuccess);
        hideAlert(alertError);
    });
        </script>
        
</body>
</html>