<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <title>PathFinder | Perfil</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="css/global_font.css">
    <script src="/js/navbar.js"></script>
    <script src="/js/utils.js"></script>
    <script>
        /*Funcionalidad acordion*/
        document.addEventListener('DOMContentLoaded', function () {
            const accordionButtons = document.querySelectorAll('[data-accordion-target]');

            accordionButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const target = document.querySelector(this.getAttribute('data-accordion-target'));
                    const expanded = this.getAttribute('aria-expanded') === 'true';
                    accordionButtons.forEach(btn => {
                        const panel = document.querySelector(btn.getAttribute('data-accordion-target'));
                        btn.setAttribute('aria-expanded', 'false');
                        panel.classList.add('hidden');
                    });
                    if (!expanded) {
                        this.setAttribute('aria-expanded', 'true');
                        target.classList.remove('hidden');
                    }
                });
            });
        });
    </script>
</head>

<body class="bg-gray-100 dark:bg-gray-800">
    <nav class="border-gray-200 bg-gradient-to-r from-cyan-500 to-blue-500 dark:bg-amber-500">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-6">
            <a th:href="@{/}" class="flex items-center space-x-6 rtl:space-x-reverse">
                <div id="logo-image">
                    <img id="logo-horizontal-image" src="css/LogoLogoPathFinderHorizontal.svg" alt=""
                        style="max-width:40%;height:auto;">
                </div>
                <span class="self-center text-3xl font-semibold whitespace-nowrap">PathFinder</span>
            </a>

            <div class="relative flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-blue-600"
                    id="user-menu-button" aria-expanded="false">
                    <span class="sr-only">Menu usuario</span>
                    <img class="w-8 h-8 rounded-full"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-kvDMFGIUOvSxdN4wetKCEXcYyk3I5WfvGQ&s"
                        alt="user photo">
                </button>

            </div>
            <div class="hidden absolute right-0 mt-8 mr-8 md:mt-64 md:mr-36 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600 z-20"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-black-900 dark:text-white"
                        th:text="${usuario.nombre} + ' ' + ${usuario.apellidoP}">usuario</span>
                    <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
                        th:text="${usuario.email} ">correo</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a th:href="@{/configuracion/perfil}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Perfil</a>
                    </li>
                    <li>
                        <a th:href="@{/configuracion}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Configuraciones</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Favoritos</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}" class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-300 dark:text-white">Cerrar
                            sesion</a>
                    </li>
                </ul>
            </div>

            <div class="items-center justify-between  w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col font-medium p-4 mt-4 md:space-x-8 md:flex-row md:mt-0 md:border-0">
                    <li>
                        <a th:href="@{/}" class="text-2xl py-2 px-3 md:p-0" aria-current="page">Inicio</a>
                    </li>
                    <li>
                        <a th:href="@{/universidades}" class="text-2xl py-2 px-3 md:p-0">Universidades</a>
                    </li>
                    <li>
                        <a href="#" class="text-2xl py-2 px-3 md:p-0">Carreras</a>
                    </li>
                    <li>
                        <a th:href="@{/carreras/areas}" class="text-2xl py-2 px-3 md:p-0">Area</a>
                    </li>
                    <li>
                        <a href="#" class="text-2xl py-2 px-3 md:p-0">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- informacion del usuario-->

    <p class="md:mx-28 mt-8 font-bold text-3xl font-sans-serif dark:text-white">Informacion del perfil</p>

    <div id="alert-additional-content-3" th:if="${param.exito}" class="p-4 mb-4 text-green-800 border border-green-300 rounded-lg bg-green-50 md:mx-28 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium">¡Actualizado con exito!</h3>
        </div>
        <div class="mt-2 mb-4 text-sm">
            La informacion a sido actualizada con exito, para cualquier duda o comentario, ¡contactanos!
        </div>
        <div class="flex">
          <button type="button" onclick="ocultarAlerta()" class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" data-dismiss-target="#alert-additional-content-3" aria-label="Close">
            Cerrar
          </button>
        </div>
    </div>

    <div th:if="${msj} != null" id="alert-additional-content-2" class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 md:mx-28 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium">Error al actualizar!</h3>
        </div>
        <div class="mt-2 mb-4 text-sm" th:text="${msj}">mensaje
        </div>
        <div class="flex">
          <button type="button" onclick="ocultarAlerta()" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" data-dismiss-target="#alert-additional-content-2" aria-label="Close">
            Cerrar
          </button>
        </div>
      </div>



    <div id="accordion-color" data-accordion="collapse" class="mt-8 md:mx-28">
        <h2 id="accordion-color-heading-1">
            <button type="button"
                class="flex bg-gradient-to-r from-cyan-500 to-blue-500 items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 rounded-t-xl focus:border-t-4 focus:border-x-4 focus:border-blue-300 gap-3"
                data-accordion-target="#accordion-color-body-1" aria-expanded="true"
                aria-controls="accordion-color-body-1">
                <span>Actualizar Informacion del perfil</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </h2>
        <div id="accordion-color-body-1" class="hidden border-4 border-blue-300 rounded-b-lg" aria-labelledby="accordion-color-heading-1">
            <div class="p-5">
            </div>
                <form th:action="@{/configuracion/actualizar}" method="post"
                    class="md:pl-7 ">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre:</label>
                        <input type="text" id="newNombre" name="newNombre" th:value="${usuario.nombre}"
                            class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 mt-2 dark:text-white">Apellido Paterno:</label>
                        <input type="text" id="newApellidoP" name="newApellidoP" th:value="${usuario.apellidoP}"
                            class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    </div>
                    <div class="p-4 flex justify-end pr-20">
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                            <span
                                class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0">
                                Actualizar Perfil
                            </span>
                        </button>
                    </div>
                </form>
        </div>
        <h2 id="accordion-color-heading-2">
            <button type="button"
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:border-x-4 focus:border-t-4 focus:border-blue-300 hover:bg-blue-100  gap-3"
                data-accordion-target="#accordion-color-body-2" aria-expanded="false"
                aria-controls="accordion-color-body-2">
                <span>Actualizar Correo Electronico</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </h2>
        <div id="accordion-color-body-2" class="hidden border-4 border-blue-300 rounded-b-lg" aria-labelledby="accordion-color-heading-2">
            <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                <div class="flex items-center p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
                    <span class="font-medium">¡Información importante!</span>  Una vez modificado el correo, tendrá que esperar 2 días para volver a actualizarlo. Se cerrará la sesión.
                  </div>
                <form th:action="@{/configuracion/actualizarEmail}" method="post">
                    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nuevo correo electrónico: </div>
                    <input type="text" id="newCorreo" name="newCorreo" th:value="${usuario.email}"
                        class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirma correo electrónico: </div>
                    <input type="text" id="newConfirmacionCorreo" name="newConfirmacionCorreo" th:value="${usuario.email}"
                        class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingresa tu contraseña: </div>
                    <input type="Password" id="password" name="password"
                        class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    <div class="p-4 flex justify-end pr-20">

                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0">
                                Actualizar Correo Electronico
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <h2 id="accordion-color-heading-3">
            <button type="button"
                class="bg-gradient-to-r from-cyan-500 to-blue-500 flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-gray-200 focus:border-x-4 focus:border-t-4 focus:border-blue-300  hover:bg-blue-100 gap-3"
                data-accordion-target="#accordion-color-body-3" aria-expanded="false"
                aria-controls="accordion-color-body-3">
                <span>Actualizar contraseña</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </h2>
        <div id="accordion-color-body-3" class="hidden border-4 border-blue-300 rounded-b-lg" aria-labelledby="accordion-color-heading-3">
            <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 flex flex-col">
                <form th:action="@{/configuracion/actualizarPassword}" method="post">
                    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese la contraseña nueva: </div>
                    <input type="password" id="newPass" name="newPass"
                        class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirme la contraseña nueva: </div>
                    <input type="password" id="confNewPass" name="confNewPass"
                        class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
                    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese su contraseña actual: </div>
                    <input type="password" id="oldPass" name="oldPass"
                        class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 outline-dashed">
                    <div class="p-4 flex justify-end pr-20">
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0">
                                Actualizar Contaseña
                            </span>
                        </button>
                    <div class="p-4 flex justify-end pr-20">
                </form>
                
            </div>
        </div>
    </div>
</div>
<button id="theme-toggle" class="bg-blue-100 dark:bg-gray-700">Toggle Dark Mode</button>

<script>
  const toggleButton = document.getElementById('theme-toggle');
  const htmlElement = document.documentElement;

  toggleButton.addEventListener('click', () => {
    htmlElement.classList.toggle('dark');
  });
</script>
</body>

</html>