<!DOCTYPE html>
<html th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <link rel="icon" href="css/IsotipoPathFinderTabIcon.ico" type="image/x-icon">
    <title th:text="#{tituloPerfil}">PathFinder | Perfil</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="css/global_font.css">
    <script src="/js/navbar.js"></script>
    <script src="/js/utils.js"></script>
    <script>
        /*Funcionalidad acordion*/
        document.addEventListener('DOMContentLoaded', function () {
            const accordionButtons = document.querySelectorAll('[data-accordion-target]');

            accordionButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const target = document.querySelector(this.getAttribute('data-accordion-target'));
                    const expanded = this.getAttribute('aria-expanded') === 'true';
                    accordionButtons.forEach(btn => {
                        const panel = document.querySelector(btn.getAttribute('data-accordion-target'));
                        btn.setAttribute('aria-expanded', 'false');
                        panel.classList.add('hidden');
                    });
                    if (!expanded) {
                        this.setAttribute('aria-expanded', 'true');
                        target.classList.remove('hidden');
                    }
                });
            });
        });
    </script>
</head>

<body class="bg-gray-100 dark:bg-gray-800">
    <nav class="border-gray-200 bg-gradient-to-r from-cyan-500 to-blue-500 dark:bg-amber-500">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-6">
            <a th:href="@{/}" class="flex items-center space-x-6 rtl:space-x-reverse">
                <div id="logo-image">
                    <img id="logo-horizontal-image" src="css/LogoLogoPathFinderHorizontal.svg" alt=""
                        style="max-width:40%;height:auto;">
                </div>
                <span class="self-center text-3xl font-semibold whitespace-nowrap">PathFinder</span>
            </a>

            <div class="relative flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-blue-600"
                    id="user-menu-button" aria-expanded="false">
                    <span class="sr-only">Menu usuario</span>
                    <img class="w-8 h-8 rounded-full"
                        th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}"
                        alt="user photo">
                </button>

            </div>
            <div class="hidden absolute right-0 mt-8 mr-8 md:mt-64 md:mr-36 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600 z-20"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-black-900 dark:text-white"
                        th:text="${usuario.nombre} + ' ' + ${usuario.apellidoP}">usuario</span>
                    <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
                        th:text="${usuario.email} ">correo</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white" th:text="#{perfiil}">Perfil</a>
                    </li>
                    <li>
                        <a th:href="@{/configuracion?lang=}+${usuario.lang}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Configuraciones</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white" th:text="#{favoritoss}">Favoritos</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}" class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-300 dark:text-white" th:text="#{cierreSesion}">Cerrar
                            sesion</a>
                    </li>
                </ul>
            </div>

            <div class="items-center justify-between  w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col font-medium p-4 mt-4 md:space-x-8 md:flex-row md:mt-0 md:border-0">
                    <li>
                        <a th:href="@{/}" class="text-2xl py-2 px-3 md:p-0" aria-current="page" th:text="#{inicioo}">Inicio</a>
                    </li>
                    <li>
                        <a th:href="@{/universidades?lang=}+${usuario.lang}"class="text-2xl py-2 px-3 md:p-0" th:text="#{universidadess}">Universidades</a>
                    </li>
                    <li>
                        <a th:href="@{/carreras/all?lang=}+${usuario.lang}" class="text-2xl py-2 px-3 md:p-0" th:text="#{carrerass}">Carreras</a>
                    </li>
                    <li>
                        <a th:href="@{/carreras/areas?lang=}+${usuario.lang}"class="text-2xl py-2 px-3 md:p-0" th:text="#{areass}">Area</a>
                    </li>
                    <li>
                        <a href="#" class="text-2xl py-2 px-3 md:p-0" th:text="#{contacto}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- informacion del usuario-->

    <h1 class=" md:mx-28 mt-8 mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400" th:text="#{infoPerfil}">info</span></h1>
    <div id="alert-additional-content-3" th:if="${param.exito}" class="p-4 mb-4 text-green-800 border border-green-300 rounded-lg bg-green-50 md:mx-28 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium" th:text="#{actualizadoExito}">¡Actualizado con exito!</h3>
        </div>
        <div class="mt-2 mb-4 text-sm" th:text="#{actualizadoExitoLargo}">
            La informacion a sido actualizada con exito, para cualquier duda o comentario, ¡contactanos!
        </div>
        <div class="flex">
          <button type="button" onclick="ocultarAlerta()" class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" data-dismiss-target="#alert-additional-content-3" aria-label="Close" th:text="#{cerrar}">
            Cerrar
          </button>
        </div>
    </div>

    <div th:if="${msj} != null" id="alert-additional-content-2" class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 md:mx-28 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium" th:text="#{errorActualizacion}">Error al actualizar</h3>
        </div>
        <div class="mt-2 mb-4 text-sm" th:text="${msj}">mensaje
        </div>
        <div class="flex">
          <button type="button" onclick="ocultarAlerta()" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" data-dismiss-target="#alert-additional-content-2" aria-label="Close" th:text="#{cerrar}">
            Cerrar
          </button>
        </div>
      </div>
    <div class="flex flex-row">
        <div class="border border-blue-800 md:ml-28 mr-8 w-80 rounded-lg my-10 shadow-lg shadow-blue-500/50 p-5 flex flex-col basis-1/4">
            <div class="flex justify-center">
                <a th:href="@{/configuracion/selectphoto?lang=}+${usuario.lang}">
                <img class="w-56 h-56 rounded-full cursor-pointer" th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="Rounded avatar">
                </a>
            </div>
            <div>
                <p class="font-bold text-3xl font-sans-serif dark:text-white"  th:text="${usuario.nombre} + ' ' + ${usuario.apellidoP}">Nombre usuario</p>
                <p class="font-bold text-xl font-sans-serif dark:text-gray-300" th:text="${usuario.email}">email</p>
            </div>
        </div>

        <form th:action="@{/configuracion/actualizar}" method="post"
            class="border border-blue-800 md:mr-28 rounded-lg my-10 shadow-lg shadow-blue-500/50 p-5  basis-3/4">
            <p class="font-bold mb-8 text-3xl font-sans-serif dark:text-white" th:text="#{actualizarInfoPerfil}">Actualizar nombre de usuario</p>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{nombre}">Nombre:</label>
                <input type="text" id="newNombre" name="newNombre" th:value="${usuario.nombre}"
                    class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 mt-2 dark:text-white" th:text="#{apellido}">Apellido Paterno:</label>
                <input type="text" id="newApellidoP" name="newApellidoP" th:value="${usuario.apellidoP}"
                    class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
            </div>
            <div class="mt-4 flex justify-end pr-20">
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{actualizarPerfil}">
                        Actualizar Perfil
                    </span>
                </button>
            </div>
        </form>
    </div>
    
    <form th:action="@{/configuracion/actualizarEmail}" method="post"
        class="border border-blue-800 md:mx-28 rounded-lg shadow-lg shadow-blue-500/50 p-5">
        <p class="font-bold mb-8 text-3xl font-sans-serif dark:text-white" th:text="#{actualizarCorreo}">Actualizar nombre de usuario</p>
        <div class="block mb-3 text-sm font-medium text-gray-900 dark:text-white" th:text="#{nuevoCorreo}">Nuevo correo electrónico: </div>
        <input type="text" id="newCorreo" name="newCorreo" th:value="${usuario.email}"
            class="my-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
        <div class="block mb-3 text-sm font-medium text-gray-900 dark:text-white" th:text="#{confirmaCorreo}">Confirma correo electrónico: </div>
        <input type="text" id="newConfirmacionCorreo" name="newConfirmacionCorreo" th:value="${usuario.email}"
            class="my-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
        <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{ingresaContra}">Ingresa tu contraseña: </div>
        <input type="Password" id="password" name="password"
            class="my-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
        <div class="p-4 flex justify-end pr-20">

            <button
                class="relative inline-flex items-center justify-center p-0.5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{actualizarCorreo}">
                    Actualizar Correo Electronico
                </span>
            </button>
        </div>
    </form>
    <form th:action="@{/configuracion/actualizarPassword}" method="post"
        class="border border-blue-800 md:mx-28 rounded-lg my-10 shadow-lg shadow-blue-500/50 p-5">
        <p class="font-bold mb-8 text-3xl font-sans-serif dark:text-white" th:text="#{actualizarContra}">Actualizar nombre de usuario</p>
        <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{nuevaContra}">Ingrese la contraseña nueva: </div>
        <input type="password" id="newPass" name="newPass"
            class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
        <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{confirmaContraNueva}">Confirme la contraseña nueva: </div>
        <input type="password" id="confNewPass" name="confNewPass"
            class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 ">
        <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" th:text="#{contraActual}">Ingrese su contraseña actual: </div>
        <input type="password" id="oldPass" name="oldPass"
            class="mt-2 w-11/12 block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500">
        <div class="p-4 flex justify-end pr-20">
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md bg-opacity-0" th:text="#{actualizarContra}">
                    Actualizar Contaseña
                </span>
            </button>
        </div>
    </form>

    <form th:action="@{/configuracion/cambiarDarkMode}" class="border border-blue-800 md:mx-28 rounded-lg my-10 shadow-lg shadow-blue-500/50" method="post">
        <div class="grid grid-rows-2 grid-flow-col">
            <div class="col-span-1 pt-6 pl-10 font-bold dark:text-white" th:text="#{modoOscuro}">
                Modo oscuro
            </div>
            <div class="pl-10 col-span-1 dark:text-white" th:text="#{ajusteVista}">
                Ajusta el aspecto de PathFinder para reducir el reflejo y dar un descanso a la vista.
            </div>
            <div class="col-span-2 row-span-2 justify-end">
                <label class="inline-flex items-center cursor-pointer m-10">
                    <input type="checkbox" id="toggle-dark-mode" name="miCheckbox" value="false" th:checked="${usuario.darkmode}" class="sr-only peer">
                    <div 
                        class="relative w-11 h-6 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                    </div>
                </label>
            </div>
        </div>
        <div class="p-4 flex justify-end pr-20">
            <button
                class="">
                <span id="modoOscuroConfirmacion"
                    class="">
                    
                </span>
            </button>
        </div>
    </form>
    
    <form th:action="@{/configuracion/cambiaridioma}" class="border border-blue-800 md:mx-28 rounded-lg my-10 shadow-lg shadow-blue-500/50" method="post">
        <div class="grid grid-rows-2 grid-flow-col">
            <div class="col-span-1 pt-6 pl-10 font-bold dark:text-white" th:text="#{idioma}">
                Cambio de Idioma
            </div>
            <div class="pl-10 col-span-1 dark:text-white" th:text="#{cambioIdioma}">
                Elija el idioma en el que desea navegar por nuestro sitio web para una mejor experiencia.
            </div>
            <div class="col-span-2 row-span-2 justify-end">
                <select id="idioma" name="idioma" class="mt-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  w-64 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected th:text="#{idioma}">Lenguage</option>
                    <option value="es">Español</option>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                    </select>
            </div>
            
        </div>
        <div class="p-4 flex justify-end pr-20">
            <button id="actualizarIdioma"
                class="">
                <span
                    class="">
                    
                </span>
            </button>
        </div>
    </form>
    <script src="/js/modoOscuro.js" ></script>
    <script src="/js/seleccionarIdioma.js" ></script>
    <script>
    const toggleButton = document.getElementById('theme-toggle');
    const htmlElement = document.documentElement;

    toggleButton.addEventListener('click', () => {
        htmlElement.classList.toggle('dark');
    });
    </script>
</body>

</html>