<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <meta charset="utf-8">
    <title th:text="#{tituloAllUniversidades}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/buscador.css">
    <script src="/js/navbar.js"></script>
    <script src="/js/buscador.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tipo-universidad').on('change', function() {
                var selectedOption = $(this).val();
                $('#tipo-universidad').submit();
                
                if (selectedOption === 'Todas') {
                    $('.tarjeta').show();
                }
            });
        });

        $(document).ready(function() {
                $('form').on('submit', function(e) {
                e.preventDefault();
                var tipoSeleccionado = $('#tipo-universidad').val().toLowerCase();
                var searchTerm = $('#search').val().toLowerCase();

                $('#unis .tarjeta').each(function() {
                    var $universidad = $(this);
                    var tipoInstitucion = $universidad.find('span').text().toLowerCase();
                    var nombreUniversidad = $universidad.find('h2').text().toLowerCase();

                    // Incluyendo variaciones para "pública" y "privada"
                    var tipoMatch = tipoSeleccionado === 'tipo de universidad' || 
                                    tipoInstitucion.includes(tipoSeleccionado) || 
                                    (tipoSeleccionado === 'publica' && 
                                    (tipoInstitucion.includes('public') || tipoInstitucion.includes('publier'))) || 
                                    (tipoSeleccionado === 'privada' && 
                                    (tipoInstitucion.includes('private') || tipoInstitucion.includes('privé')));

                    var nombreMatch = nombreUniversidad.includes(searchTerm);

                    if (tipoMatch && nombreMatch) {
                        $universidad.show();
                    } else {
                        $universidad.hide();
                    }
                });
            });
        });

     </script>
</head>
<body class="dark:bg-gray-800">
    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/}">
                    <img src="css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>

                <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
            </div>

            <div class="navbar-links" id="navbarLinks">

                <div class="form-input ">
                    <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                    <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}">
                </div>

                <hr>
                <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                            class="link-icon" th:text="#{perfil}"></div>
                </a>
            </div>

        </nav>
    </header>

    <div class="title-gradient">
        <h1 th:text="#{universidades}"></h1>
    </div>

    <center>
    <form class="contenedor-barra-busqueda">
        <div class="contenedor">
            <select id="tipo-universidad" class="filtro-tipo dark:text-white dark:border-gray-700">
                <option class="dark:text-white dark:bg-gray-800">Todas</option>
                <option class="dark:text-white dark:bg-gray-800" value="publica">Pública</option>
                <option class="dark:text-white dark:bg-gray-800" value="privada">Privada</option>
            </select>
            <div class="barra-busqueda">
                <input type="search" id="search" class="dark:border-gray-700 dark:text-white" placeholder="Buscar universidad..."/>
                <button type="submit">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>
    </center>

    <div id="unis" class="tarjetas-unis">
        <div th:each="universidad : ${universidades}" class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
            <a th:href="@{/universidades/universidad/{id}(id=${universidad.id_universidad}, lang=${usuario.lang})}" class="imagen-uni">
                <img th:src="@{'/img/' + ${universidad.nombre_abreviado} + '/logo.jpg'}" alt="" />
            </a>
            <div class="tarjeta-contenido dark:text-white">
                <a th:href="@{/universidades/universidad/{id}(id=${universidad.id_universidad}, lang=${usuario.lang})}">
                    <h2 th:text="${universidad.nombre_completo}"></h2>
                </a>
                <p class="dark:text-white">Tipo de institucion: <span th:text="${universidad.tipo_institucion}"></span></p>
                <div class="tarjeta-botones">
                    <a th:href="@{/universidades/universidad/{id}(id=${universidad.id_universidad}, lang=${usuario.lang})}" class="ver-mas dark:shadow-none dark:hover:shadow-none">
                    Ver más
                </a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>