<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title th:text="${universidad.nombre_abreviado}">nombre_abreviado</title>
    <style>
        ul {
          border-left: 5px solid red;
          background-color: #f1f1f1;
          list-style-type: none;
          padding: 10px 20px;
        }
    </style>
</head>
    <body>
        <a href="#" th:href="@{/universidades}">Universidades</a>
        <h1><span th:text="${universidad.nombre_completo}">nombre_completo</span></h1>
        
        <h3>Caracteristicas</h3>
        <ul th:utext="${universidad.caracteristicas}"></ul>
        <h3>mapa</h3>
        <p>Direccion: <span th:text="${universidad.direccion}">nombre_completo</span></p>
        <!--mapa-->
        <input type="hidden" id="direccion" th:value="${universidad.direccionGoogle}" />
        <iframe id="googleMap" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <script>
            var direccionGoogle =  document.getElementById('direccion').value;
            document.getElementById('googleMap').src = direccionGoogle;
        </script>
        <!--fin mapa-->
        <h1> Contacto </h1>
        <a th:href="${universidad.pagina_web}" target="_blank">pagina oficial</a>
        <br/>
        <img th:src="@{'/img/' + ${universidad.nombre_abreviado} + '/logo.jpg'}" alt="logo" style="width: 500px; height: 500px;margin-top: 50px;">
        <h1>Carreras</h1>
        <ul>
            <li th:each="carreras : ${carreras}">
                <a th:text="${carreras.nombre}" th:href="@{/carreras/carrera/{id}(id=${carreras.id_carrera})}"></a>
            </li>
        </ul>

    </body>
</html>