<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <title th:text="${universidad.nombre_abreviado}">nombre_abreviado</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <script src="/js/navbar.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const carousel = document.getElementById('carousel');
            const items = carousel.children;
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');
            let currentIndex = 0;
    
            function showItems(index) {
                carousel.style.transform = `translateX(-${index * 33.333}%)`;
            }
    
            prevBtn.addEventListener('click', () => {
                if (currentIndex > 0) {
                    currentIndex--;
                    showItems(currentIndex);
                }
            });
    
            nextBtn.addEventListener('click', () => {
                if (currentIndex < items.length - 3) {
                    currentIndex++;
                    showItems(currentIndex);
                }
            });
        });
    </script>
</head>
    <body class="bg-gray-100 dark:bg-gray-800">



        <nav class="sticky top-0 z-50 border-gray-200 bg-gradient-to-r from-cyan-500 to-blue-500">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-6">
                <a th:href="@{/}" class="flex items-center space-x-6 rtl:space-x-reverse">
                    <div id="logo-image"> 
                        <img id="logo-horizontal-image" src="css/LogoLogoPathFinderHorizontal.svg" alt=""
                        style="max-width:40%;height:auto;">
                    </div>
                    <span class="self-center text-3xl font-semibold whitespace-nowrap">PathFinder</span>
                </a>
    
                <div class="relative flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-blue-600" id="user-menu-button" aria-expanded="false">
                        <span class="sr-only">Menu usuario</span>
                        <img class="w-8 h-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-kvDMFGIUOvSxdN4wetKCEXcYyk3I5WfvGQ&s" alt="user photo">
                    </button>
                    
                </div>
                <div class="hidden absolute right-0 mt-8 mr-8 md:mt-64 md:mr-36 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600 z-20" id="user-dropdown">
                    <div class="px-4 py-3">
                        <span class="block text-sm text-black-900 dark:text-white" th:text="${usuario.nombre} + ' ' + ${usuario.apellidoP}">usuario</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400" th:text="${usuario.email} ">correo</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a th:href="@{/configuracion/perfil}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Perfil</a>
                        </li>
                        <li>
                            <a th:href="@{/configuracion}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Configuraciones</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:text-white">Favoritos</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-300 dark:text-white" >Cerrar sesion</a>
                        </li>
                    </ul>
                </div>
    
                <div class="items-center justify-between  w-full md:flex md:w-auto md:order-1 " >
                <ul class="flex flex-col font-medium p-4 mt-4 md:space-x-8 md:flex-row md:mt-0 md:border-0">
                    <li>
                    <a th:href="@{/}" class="text-2xl py-2 px-3 md:p-0" aria-current="page">Inicio</a>
                    </li>
                    <li>
                    <a th:href="@{/universidades}" class="text-2xl py-2 px-3 md:p-0">Universidades</a>
                    </li>
                    <li>
                    <a href="#" class="text-2xl py-2 px-3 text-blue-700 md:p-0">Carreras</a>
                    </li>
                    <li>
                        <a th:href="@{/carreras/areas}" class="text-2xl py-2 px-3 md:p-0">Area</a>
                    </li>
                    <li>
                        <a href="#" class="text-2xl py-2 px-3 md:p-0">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <div class="bg-fixed w-full min-h-80 bg-cover" th:style="'background-image: url(' + @{/img/{nombreAbreviado}/portada.jpg(nombreAbreviado=${universidad.nombre_abreviado})} + '); background-position: center 70%;'">
            <div class="bg-sky-900 w-full h-80 flex items-center justify-center bg-opacity-50">
                <span class="font-serif text-5xl text-white font-bold z-10 ml-12 text-center" th:text="${universidad.nombre_completo}">nombre_completo</span>
            </div>
        </div>

        <div class=" my-8 mx-2 md:mx-28 border-l-4 pl-10 dark:text-white " >
            <span class="text-justify font-serif text-sm md:text-xl" th:text="${universidad.informacion}">informacion</span>
        </div>
        <div class="mt-8 flex flex-col md:flex-row bg-gray-600 py-2 h-96">
            <div class="basis-1/2 flex items-center justify-center h-full">
                <img th:src="@{'/img/' + ${universidad.nombre_abreviado} + '/logo.jpg'}" alt="logo" class="bg-white">
            </div> 
            <div>
                <div class="mb-2">
                    <span class="text-black text-3xl font-bold text-white">Caracteristicas</span>
                </div>
                <ul th:utext="${universidad.caracteristicas}" class="ps-5 mt-2 space-y-1 list-disc list-inside text-white"></ul>
            </div>
        </div>
        
        <div class="mt-8 flex flex-col md:flex-row py-2 md:mx-12">
            <div class="basis-1/2 ">
                <div class="text-2xl font-bold dark:text-white"> Informacion</div>
                <div class="text-xl font-bold dark:text-white">Tipo de institucion:</div>
                <div class="dark:text-white" th:text="${universidad.tipo_institucion}"></div>
                <div class="text-xl font-bold dark:text-white">Correo electronico:</div>
                <div class="dark:text-white" th:text="${universidad.correo}"></div>
                <div class="text-xl font-bold dark:text-white">Telefono de Contacto:</div>
                <div class="dark:text-white" th:text="${universidad.telefono}"></div>
                <div class="text-xl font-bold dark:text-white">Direccion:</div>
                <div class="dark:text-white" th:text="${universidad.direccion}"></div>
                
                <p class="text-gray-500 dark:text-gray-400 mt-4">Para mas informacion <a th:href="${universidad.pagina_web}" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    Sitio oficial
                    <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    </a></p>
            </div>
            <div class="basis-1/2">
                <img th:src="@{'/img/' + ${universidad.nombre_abreviado} + '/imagen1.jpg'}" alt="logo" class="h-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800">
            </div>
        </div>
        <div class="flex justify-center text-3xl mt-12 font-bold font-serif">
            <span> Carreras Universitarias</span>
        </div>
        <div class="relative w-full overflow-hidden p-4">
            <div class="flex transition-transform duration-300 ease-in-out" id="carousel">
                <div th:each="carrera, iterStat : ${carreras}" class="w-full md:w-1/3 flex-shrink-0 p-4">
                    <div class="bg-white rounded-lg shadow-md overflow-hidden h-full flex flex-col">
                        <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera})}"><img th:src="@{'/img/carreras/' + ${carrera.id_carrera} + '.jpg'}" alt="Imagen de la carrera" class="w-full h-48 object-cover"></a>
                        <div class="p-6 flex-grow flex flex-col">
                            <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera})}"><h3 class="text-xl font-bold mb-2" th:text="${carrera.nombre}"></h3></a>
                            <p class="text-gray-600 mb-4 flex-grow" th:text="${carrera.informacion}"></p>
                            <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera})}" class="text-blue-500 hover:text-blue-700 font-semibold">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-white text-gray-800 w-12 h-12 rounded-full shadow-lg flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all hover:bg-gray-100" id="prevBtn">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                </svg>
            </button>
            <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-white text-gray-800 w-12 h-12 rounded-full shadow-lg flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all hover:bg-gray-100" id="nextBtn">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>

       
    
        <!--mapa-->
        <input type="hidden" id="direccion" th:value="${universidad.direccionGoogle}" />
        <iframe class="w-full" id="googleMap" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <script>
            var direccionGoogle =  document.getElementById('direccion').value;
            document.getElementById('googleMap').src = direccionGoogle;
        </script>
        <!--fin mapa-->
    </body>
</html>