<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
        <title>Universidades</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                });
            });
        </script>
    </head>
    <body>
        <h1>Universidades</h1>
        <input type="text" id="search" placeholder="Buscar universidad...">
        <ul>
            <li th:each="universidad : ${universidades}">
                <a th:text="${universidad.nombre_completo}" th:href="@{/universidades/universidad/{id}(id=${universidad.id_universidad})}"></a>
            </li>
        </ul>
    </body>
</html>