<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:classappend="${usuario.darkmode} ? 'dark' : ''">
<head>
    <title th:text="'PathFinder | ' + ${universidad.nombre_abreviado}">nombre_abreviado</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <script src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/carrera.css">
</head>
<body class="dark:bg-gray-800">
    <header class="header">
        <nav class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/}">
                    <img src="/css/LogoLogoPathFinderHorizontal.svg" alt="" id="navbar-logo">
                </a>
                <hr>

                <a th:href="@{/universidades?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/universidad.png" alt="" class="link-icon" th:text="#{universidades}"></div></a>
                <a th:href="@{/carreras/areas?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/area.png" alt="" class="link-icon" th:text="#{areas}"></div></a>
                <a th:href="@{/carreras/all?lang=}+${usuario.lang}" style="display: yes;"><div class="link"><img src="/css/assets/navbaricons/gorro.png" alt="" class="link-icon" th:text="#{carreras}"></div></a>
            </div>

            <div class="navbar-links" id="navbarLinks">

                <div class="form-input ">
                    <span class="input-icon"><i class="fi fi-rr-sparkles"></i></span>
                    <input type="text" id="search-bar" th:placeholder="#{mensajeBarraBusqueda}">
                </div>

                <hr>
                <a th:href="@{/configuracion/perfil?lang=}+${usuario.lang}" style="display: yes;">
                    <div class="link"><img th:src="@{'/img/perfilUsuario/' + ${usuario.foto_perfil} + '.jpg'}" alt="" id="profile-icon"
                            class="link-icon" th:text="#{perfil}"></div>
                </a>
            </div>

        </nav>
    </header>

    <div id="dynamicBackground" th:data-background-image="@{/img/{nombreAbreviado}/portada.jpg(nombreAbreviado=${universidad.nombre_abreviado})}" class="bg-fixed w-full bg-cover" style="background-position: center 70%;">
        <div class="title-gradient bg-opacity-50">
            <h1 th:text="${universidad.nombre_completo}"></h1>
        </div>
    </div>

    <div class="main-content dark:bg-gray-800">
    <div class="carrera-acercade">
        <div class="vertical-line"></div>
        <p th:utext="${universidad.informacion}">informacion</p>
    </div>

    <div class="logo-informacion">
        <div class="logo-carrera">
            <img th:src="@{'/img/' + ${universidad.nombre_abreviado} + '/logo.jpg'}" alt="logo">
        </div> 
        <div class="informacion-carrera dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                <h2>Caracteristicas</h2>
            <ul th:utext="${universidad.caracteristicas}"></ul>
        </div>
    </div>
    
    <div class="por-que-estudiar">
        <div class="por-que-estudiar-text">
            <h2>Informacion</h2>
            <h3 class="font-semibold">Tipo de institucion:</h3>
            <h4 th:text="${universidad.tipo_institucion}"></h4>
            <h3>Correo electronico:</h3>
            <h4 th:text="${universidad.correo}"></h4>
            <h3>Telefono de Contacto:</h3>
            <h4 th:text="${universidad.telefono}"></h4>
            <h3>Direccion:</h3>
            <h4 th:text="${universidad.direccion}"></h4>
            
            <h3>Para mas información: <a th:href="${universidad.pagina_web}">
                Sitio oficial
                </a></h3>
        </div>
        <div class="por-que-estudiar-img">
            <img th:src="@{'/img/' + ${universidad.nombre_abreviado} + '/imagen1.jpg'}" alt="logo">
        </div>
    </div>

    <div>
    <div class="especialidades-titulo">
        <h2>Carreras Universitarias</h2>
    </div>

        <div id="carousel" class="tarjetas-especialidades">
            <div th:each="carrera, iterStat : ${carreras}" class="tarjeta dark:bg-gray-800 dark:border-gray-700 dark:shadow-none">
                <div>
                    <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera}, lang=${usuario.lang})}" class="imagen-uni">
                        <img th:src="@{'/img/carreras/' + ${carrera.id_carrera} + '.jpg'}" alt="Imagen de la carrera">
                    </a>
                    <div class="tarjeta-contenido dark:text-white">
                        <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera}, lang=${usuario.lang})}">
                            <h2 th:text="${carrera.nombre}"></h2>
                        </a>
                        <p class="dark:text-white" th:text="${carrera.informacion}"></p>
                        <div class="tarjeta-botones">
                            <a th:href="@{/carreras/carrera/{id}(id=${carrera.id_carrera}, lang=${usuario.lang})}" th:text="#{verMas}" class="ver-mas dark:shadow-none dark:hover:shadow-none">Ver más</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="roadmap">
        <h2 th:text="#{ubicacion}">Ubicación </h2>

        <input type="hidden" id="direccion" th:value="${universidad.direccionGoogle}" />
    <iframe id="googleMap"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </div>
    
</div>
    <script>
        var direccionGoogle =  document.getElementById('direccion').value;
        document.getElementById('googleMap').src = direccionGoogle;
    </script>

<center>
    <footer class="footer">
        <div class="footer-logo">
            <img src="/css/LogoLogoPathFinderVertical.svg" alt="">
        </div>
        <div class="footer-section">
            <h3 th:text="#{servicio}"></h3>
            <a href="#" th:text="#{nuestroTrabajo}"></a>
            <a href="#" th:text="#{centroAyuda}"></a>
            <a href="#" th:text="#{faqs}"></a>
        </div>
        <div class="footer-section">
            <h3 th:text="#{contacto}"></h3>
            <p>contacto@pathfinder.com</p>
            <p th:text="#{sobreNosotros}"></p>
            <p>614 785 6594</p>
        </div>
        <div class="footer-section">
            <h3 th:text="#{direccion}"></h3>
            <p>Av. Montes Americanos #9501, Col.</p>
            <p>Sector 35, C.P. 31216, Chihuahua,</p>
            <p>Chih., México.</p>
        </div>
        <div class="footer-bottom">
            <div class="footer-links">
                <a>&copy; 2024 PathFinder</a>
                <a href="#" th:text="#{terminos}"></a>
                <a href="#" th:text="#{politica}"></a>
            </div>
            <div class="social-icons">

                <a href="#" title="Facebook"><img src="/css/assets/facebook.svg" alt=""></a>
                <a href="#" title="X"><img src="/css/assets/x.svg" alt=""></a>
                <a href="#" title="Instagram"><img src="/css/assets/instagram.svg" alt=""></a>
                <a href="#" title="LinkedIn"><img src="/css/assets/linkedin.svg" alt=""></a>
            </div>
        </div>
    </footer>
</center>
</body>
</html>